<table class="table" id="genres">
  <thead>
  <tr>
    <td>ID</td>
    <td>Genre Name</td>
    <td>&nbsp;</td>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'genre',
             collection: @genres %>
  </tbody>
</table>

<br/>
<br/>
<%= will_paginate @genres,
                  inner_window: 1,
                  renderer: BootstrapPagination::Rails,
                  class: 'pagination pagination-small' %>
<%
   def items_per_page_select(collection = Genres)
     select_tag :per_page, options_for_select([10, 20, 50, 100, 300], collection.per_page),
                class: 'items_per_page_select_menu'
   end
%>
<%= form_for '/genres', method: :get, html: {class: 'items_per_page_select'} do |f| %>
  <span>Items per page: </span>
  <%= items_per_page_select @genres %>
  <%= f.submit "Submit",
               class: 'btn btn-small' %>
<% end %>
