<%= minimal_form_for @screener_playlist,
                     html: {class: 'form-vertical', multipart: true} do |f| %>

  <div class="span3">
    <div class="content">
      <% if @screener_playlist.user_id.present? %>
        <div class="info info-title">Programmer</div>
        <div class="info-list">
          <ul>
            <li class="info"><%= @screener_playlist.user.login.titleize if !@screener_playlist.user_id.nil? %>&nbsp;</li>
          </ul>
        </div>
        <br>
      <% end %>
      <% if controller.action_name != 'new' %>
        <div class="info info-title">Tools</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= link_to "Print Playlist",
                          {controller: "screener_playlists",
                           action: "show",
                           id: @screener_playlist},
                          id: 'print_playlist',
                          target: '_blank' %>
            </li>
            <li class="info">
              <%= link_to "Download English PDF",
                          {controller: "screener_playlists",
                           action: "show",
                           id: @screener_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Download Chinese PDF",
                          {controller: "screener_playlists",
                           action: "show_chinese",
                           id: @screener_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Export as Excel",
                          controller: "screener_playlists",
                          action: "export_to_excel",
                          id: @screener_playlist %>
            </li>
          </ul>
        </div>
        <br>
      <% end %>
    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->

  <div class="span6">
    <div class="content">
      <% if controller.action_name != 'new' %>
        <div class="tabbable">
          <ul class="nav nav-tabs pre-nav-below">
            <li>
              <%= link_to "Previous",
                          edit_screener_playlist_path(@screener_playlist.previous.id) if @screener_playlist.previous.present? %>
            </li>
            <li>
              <%= link_to "Next",
                          edit_screener_playlist_path(@screener_playlist.next.id) if @screener_playlist.next.present? %>
            </li>
            <li>
              <%= link_to 'View Screener Playlist',
                          screener_playlist_path(@screener_playlist) %>
            </li>
            <li>
              <%= link_to "New Screeener Playlist",
                          new_screener_playlist_path %>
            </li>
            <% if permitted_to? :admin_delete,
                                :screener_playlists %>
              <li>
                <%= link_to 'Delete',
                            screener_playlist_url(@screener_playlist),
                            method: :delete,
                            confirm: 'Are you sure?' %>
              </li>
            <% end %>
          </ul>
        </div>

        <br>

      <% end %>

      <div class="controls controls-row">
        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :airline_id,
                            link_path: airlines_path,
                            collection: Airline.order("name asc").collect { |p| [p.name + " - " + p.code, p.id] },
                            placeholder: 'Airline',
                            span: 'span3'} %>

        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :video_playlist_type_id,
                            link_path: video_playlist_types_path,
                            collection: VideoPlaylistType.order("name asc").collect { |p| [p.name, p.id] },
                            placeholder: 'Video Playlist Type',
                            span: 'span3'} %>
      </div>

      <div class="controls controls-row">
        <%= render partial: 'application/bootstrap_append_datepicker',
                   locals: {f: f,
                            field: :start_cycle,
                            value: @screener_playlist.start_cycle,
                            input_id: 'start_cycle_datepicker',
                            date_format: 'mm/yyyy',
                            date_viewmode: 'months',
                            date_minviewmode: 'months',
                            datepicker_behaviour: 'datepicker-months',
                            placeholder: 'Start Cycle',
                            span: 'span3'} %>

        <%= render partial: 'application/bootstrap_append_datepicker',
                   locals: {f: f,
                            field: :end_cycle,
                            value: @screener_playlist.end_cycle,
                            input_id: 'end_cycle_datepicker',
                            date_format: 'mm/yyyy',
                            date_viewmode: 'months',
                            date_minviewmode: 'months',
                            datepicker_behaviour: 'datepicker-months',
                            placeholder: 'End Cycle',
                            span: 'span3'} %>
      </div>

      <br>

      <%= f.button :submit, class: 'btn' %>

      <% if controller.action_name != 'new' %>

        <br><br>
        <!-- Button to trigger modal -->
        <%= link_to 'Add Screener',
                    add_screener_to_playlist_path(id: @screener_playlist.id),
                    id: 'add_screener_to_playlist',
                    class: 'btn',
                    role: 'btn',
                    data: {toggle: 'modal', target: '#ajax-modal'} %>
        <br><br>
      <% end %>

    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->
<% end %>

<% if controller.action_name != 'new' %>
  <%= content_for :playlist do %>
    <div class="info info-title">Playlist</div>
    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @screener_playlist %>
    </div>
  <% end %>

  <%= content_for :modal do %>
    <%= render 'modal' %>
  <% end %>

  <% content_for(:head) do %>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <script>
      jQuery(document).ready(function () {
        jQuery('#print_playlist').click(function (event) {
          if (!confirm("ALERT! Please change your page layout to LANDSCAPE when printing")) {
            event.preventDefault();
          }
        });
      });
    </script>
  <% end %>

  <script type="text/javascript">

    var $ = jQuery;

    // this sets up the ajax loader, and it will stay until the method specific js removes it
    $('a[data-target=#ajax-modal]').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      $('body').modalmanager('loading');
      $.rails.handleRemote($(this));
    });

    // removes whatever is in the modal body content div upon clicking close/outside modal
    $(document).on('click', '[data-dismiss=modal], .modal-scrollable', function (e) {
      $('.modal-body-content').empty();
    });

    $(document).on('click', '#ajax-modal', function (e) {
      e.stopPropagation();
    });

  </script>
<% end %>