<% @screener = playlist_item_view.screener %>
<% @screener_playlist_item = playlist_item_view %>
<% if playlist_item_view.screener.nil? %>
  <td colspan="2">Missing video <%= playlist_item_view.screener_id %></td>

<% else %>
  <div class="row">
    <div class="span9">
      <table class="playlist table table-condensed">
        <tbody>
        <tr>
          <td width="25%"><strong>Programme Title:</strong></td>
          <td width="25%"><%= playlist_item_view.screener.video.programme_title %></td>
          <td width="25%"><strong>Episode Title:</strong></td>
          <td width="25%"><%= playlist_item_view.screener.episode_title %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Distributor:</strong></td>
          <td width="25%"><%= playlist_item_view.screener.video.video_distributor.company_name %></td>
          <td width="25%"><strong>Full Genre:</strong></td>
          <td width="25%"><%= playlist_item_view.screener.video.video_genres_string_with_parent %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Lang Tracks:</strong></td>
          <td width="25%"><%= playlist_item_view.screener.video.language_tracks.join(', ') if !playlist_item_view.screener.video.language_tracks.nil? %></td>
          <td width="25%"><strong>Lang Subtitles:</strong></td>
          <td width="25%"><%= playlist_item_view.screener.video.language_subtitles.join(', ') if !playlist_item_view.screener.video.language_subtitles.nil? %></td>
        </tr>
        <tr>
          <td width="146"><strong>Commercial Runtime:</strong></td>
          <td colspan="3"><%= playlist_item_view.screener.video.commercial_run_time.minutes if !playlist_item_view.screener.video.commercial_run_time.nil? %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Synopsis:</strong></td>
          <td colspan="3"><%= playlist_item_view.screener.video.synopsis %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br/><br/>
<% end %>
