<% @selected_track = (params[:language]).nil? ? '' : params[:language][:track] %>
<% @selected_subtitle = (params[:language]).nil? ? '' : params[:language][:subtitle] %>
<%= search_form_for @search,
                    builder: MinimalNestedFormBuilder,
                    url: add_screener_to_playlist_path(id: @screener_playlist.id),
                    remote: true,
                    id: "screener_search_form" do |screeners| %>
  <div class="controls controls-row">
    <%= screeners.input_field :video_programme_title_or_video_foreign_language_title_cont_any,
                              class: "span12",
                              placeholder: 'Video Title',
                              value: @original %>
  </div>

  <div class="controls controls-row">
    <%= screeners.input_field :episode_title_cont_any,
                              class: "span12",
                              placeholder: 'Episode Title',
                              value: @original_episode %>
  </div>

  <div class="controls controls-row">
    <%= screeners.input_field :video_video_distributor_id_eq,
                              as: :select,
                              collection: @video_distributors,
                              include_blank: true,
                              class: "select2 span12",
                              placeholder: 'Distributor' %>
  </div>

  <div class="controls controls-row">
    <%= screeners.input_field :video_laboratory_id_eq,
                              as: :select,
                              collection: @laboratories,
                              include_blank: true,
                              class: "select2 span12",
                              placeholder: 'Laboratory' %>
  </div>

  <div class="controls controls-row">
    <%= screeners.input_field :video_video_genres_video_parent_genre_id_eq,
                              as: :select,
                              collection: VideoParentGenre.connection.execute(VideoParentGenre.select('name, id').to_sql).to_a,
                              include_blank: true,
                              class: "select2 span12",
                              placeholder: 'Genre' %>
  </div>

  <div class="controls controls-row">
    <%= screeners.input_field :video_video_genres_id_eq,
                              as: :select,
                              collection: VideoGenre.connection.execute(VideoGenre.select('name, id').to_sql).to_a,
                              include_blank: true,
                              class: "select2 span12",
                              placeholder: 'Sub-genre' %>
  </div>

  <div class="controls controls-row">
    <%= screeners.input_field :video_video_type_eq,
                              as: :select,
                              collection: Video::VIDEO_TYPES,
                              include_blank: true,
                              class: "select2 span12",
                              placeholder: 'Video Type' %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: {f: screeners,
                        field: :video_production_year_eq,
                        value: params[:q].present? && params[:q][:video_production_year_eq].present? ?
                            params[:q][:video_production_year_eq] : '',
                        input_id: 'video_production_year_eq_datepicker',
                        date_format: 'yyyy',
                        date_viewmode: 'years',
                        date_minviewmode: 'years',
                        datepicker_behaviour: 'datepicker-years',
                        placeholder: 'Production Year',
                        span: 'span12'} %>
  </div>

  <div class="controls controls-row">
    <%= screeners.input_field :video_screeners_location_eq,
                              class: "span12",
                              placeholder: 'Tape Location Number' %>
  </div>

  <div class="controls controls-row">
    <%= screeners.input_field :video_id_eq,
                              class: "span12",
                              placeholder: 'Video ID' %>
  </div>

  <div class="controls controls-row">
    <label class="checkbox">
      <%= check_box_tag :active, '1', params[:active].to_i == 1 %> Deactivated Screener
    </label>
  </div>

  <br>

  <div class="controls controls-row">
    <%= screeners.submit "Search",
                         class: 'btn' %>
    <input class="form-reset btn" type="reset" value="Reset">
    <br><br>
  </div>
<% end %>

