<%= search_form_for @search,
                    class: 'spinner-trigger' do |screener_playlists| %>
  <div class="control-group">

    <div class="controls combinator-select-container">
      <%= screener_playlists.combinator_select %>
    </div>

    <%= screener_playlists.text_field :id_eq,
                                      placeholder: 'Playlist ID' %>

    <div class="controls">
      <%= screener_playlists.select :airline_id_eq,
                                    Airline.order("name asc")
                                    .collect { |p| [p.name,
                                                    p.id] },
                                    {include_blank: true},
                                    {class: 'select2',
                                     data: {placeholder: 'Airline'}} %>
    </div>

    <div class="controls">
      <%= screener_playlists.select :video_playlist_type_id_eq,
                                    VideoPlaylistType.order("name asc")
                                    .collect { |p| [p.name,
                                                    p.id] },
                                    {include_blank: true},
                                    {class: 'select2',
                                     data: {placeholder: 'Screener Playlist Type'}} %>
    </div>

    <%= screener_playlists.text_field :start_cycle_gteq,
                                      data: {behaviour: 'datepicker-months'},
                                      placeholder: 'Start Playdate' %>

    <%= screener_playlists.text_field :end_cycle_lteq,
                                      data: {behaviour: 'datepicker-months'},
                                      placeholder: 'End Playdate' %>

  </div>

  <%= screener_playlists.submit "Search",
                                {class: 'btn'} %>
  <input type="reset" value="Reset" class="btn">

<% end %>
