<%= render partial: 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="well" id="dashboard-well">
        <% if permitted_to? :edit,
                            :airlines %>
          <%= link_to 'Airlines',
                      airlines_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :movie_types %>
          <%= link_to 'Movie Types',
                      movie_types_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :movie_playlist_types %>
          <%= link_to 'Movie Playlist Types',
                      movie_playlist_types_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :video_playlist_types %>
          <%= link_to 'Video Playlist Types Labels',
                      video_playlist_types_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :master_playlist_types %>
          <%= link_to 'Master Playlist Types',
                      master_playlist_types_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :screener_playlist_types %>
          <%= link_to 'Screener Playlist Types',
                      screener_playlist_types_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :movie_genres %>
          <%= link_to 'Movie Genres',
                      movie_genres_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :video_genres %>
          <%= link_to 'Video Genres',
                      video_genres_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :video_parent_genres %>
          <%= link_to 'Video Parent Genres',
                      video_parent_genres_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :suppliers %>
          <%= link_to 'Suppliers',
                      suppliers_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :supplier_categories %>
          <%= link_to 'Supplier Categories',
                      supplier_categories_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :airline_rights_countries %>
          <%= link_to 'Airline Rights Countries',
                      airline_rights_countries_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :commercial_run_times %>
          <%= link_to 'Commercial Run Time',
                      commercial_run_times_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :master_languages %>
          <%= link_to 'Languages',
                      master_languages_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
      </div>
    </div>
  </div>
</div> <!-- /container -->
