<%= minimal_form_for @video_master_playlist,
                     html: {class: 'form-vertical', multipart: true} do |f| %>

  <div class="span3">
    <div class="content">
      <% if @video_master_playlist.user_id.present? %>
        <div class="info info-title">Programmer</div>
        <div class="info-list">
          <ul>
            <li class="info"><%= @video_master_playlist.user.login.titleize if !@video_master_playlist.user_id.nil? %>&nbsp;</li>
          </ul>
        </div>
        <br>
      <% end %>
      <% if controller.action_name != 'new' %>
        <div class="info info-title">Tools</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= link_to "Print Playlist",
                          {controller: "video_master_playlists",
                           action: "show",
                           id: @video_master_playlist},
                          id: 'print_playlist',
                          target: '_blank' %>
            </li>
            <li class="info">
              <%= link_to "Download PDF",
                          {controller: "video_master_playlists",
                           action: "show",
                           id: @video_master_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Export as Excel",
                          controller: "video_master_playlists",
                          action: "export_to_excel",
                          id: @video_master_playlist %>
            </li>
          </ul>
        </div>
        <br>
      <% end %>
    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->

  <div class="span6">
    <div class="content">
      <% if controller.action_name != 'new' %>
        <div class="tabbable">
          <ul class="nav nav-tabs pre-nav-below">
            <li>
              <%= link_to "Previous",
                          edit_video_master_playlist_path(@video_master_playlist.previous.id) if @video_master_playlist.previous.present? %>
            </li>
            <li>
              <%= link_to "Next",
                          edit_video_master_playlist_path(@video_master_playlist.next.id) if @video_master_playlist.next.present? %>
            </li>
            <li>
              <%= link_to 'View Master Playlist',
                          video_master_playlist_path(@video_master_playlist) %>
            </li>
            <li>
              <%= link_to "New Master Playlist",
                          new_video_master_playlist_path %>
            </li>
            <% if permitted_to? :admin_delete,
                                :video_master_playlists %>
              <li>
                <%= link_to 'Delete',
                            video_master_playlist_url(@video_master_playlist),
                            method: :delete,
                            confirm: 'Are you sure?' %>
              </li>
            <% end %>
          </ul>
        </div>

        <br>

      <% end %>

      <div class="controls controls-row">
        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :airline_id,
                            link_path: airlines_path,
                            collection: Airline.order("name asc").collect { |p| [p.name + " - " + p.code, p.id] },
                            placeholder: 'Airline',
                            span: 'span3'} %>

        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :master_playlist_type_id,
                            link_path: master_playlist_types_path,
                            collection: MasterPlaylistType.order("name asc").collect { |p| [p.name, p.id] },
                            placeholder: 'Master Playlist Type',
                            span: 'span3'} %>
      </div>

      <div class="controls controls-row">
        <%= render partial: 'application/bootstrap_append_datepicker',
                   locals: {f: f,
                            field: :start_cycle,
                            value: @video_master_playlist.start_cycle,
                            input_id: 'start_cycle_datepicker',
                            date_format: 'mm/yyyy',
                            date_viewmode: 'months',
                            date_minviewmode: 'months',
                            datepicker_behaviour: 'datepicker-months',
                            placeholder: 'Start Cycle',
                            span: 'span3'} %>

        <%= render partial: 'application/bootstrap_append_datepicker',
                   locals: {f: f,
                            field: :end_cycle,
                            value: @video_master_playlist.end_cycle,
                            input_id: 'end_cycle_datepicker',
                            date_format: 'mm/yyyy',
                            date_viewmode: 'months',
                            date_minviewmode: 'months',
                            datepicker_behaviour: 'datepicker-months',
                            placeholder: 'End Cycle',
                            span: 'span3'} %>
      </div>

      <div class="controls controls-row">
        <%= f.input_field :edit_runtime,
                          :type => :number,
                          :placeholder => "Edited Runtime",
                          :class => 'span3' %>

        <input class="span3" readonly="readonly" disabled="disabled" id="video_master_playlist_total_runtime" maxlength="255" placeholder="Total Runtime (hh:mm:ss)" size="50" type="text" value="Total Runtime (hh:mm:ss): <%= @video_master_playlist.total_runtime %>">
      </div>

      <div class="controls controls-row">
        <%= f.input_field :media_instruction,
                          placeholder: "Media Instruction",
                          class: 'span6',
                          rows: 6 %>
      </div>

      <div class="controls controls-row">
        <%= f.button :submit, class: 'btn span3' %>
      </div>

      <% if controller.action_name != 'new' %>

        <br><br>
        <!-- Button to trigger modal -->
        <%= link_to 'Add Master',
                    add_video_master_to_playlist_path(id: @video_master_playlist.id),
                    id: 'add_video_master_to_playlist_hidden',
                    class: 'btn hidden-input',
                    role: 'btn',
                    data: {toggle: 'modal', target: '#ajax-modal'} %>
        <br><br>
      <% end %>

    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->
<% end %>

<% if controller.action_name != 'new' %>
  <%= content_for :playlist do %>
    <div class="info info-title">
      Playlist
      <div class="btn-group pull-right" id="table-column-select">
        <!-- Button to trigger modal -->
        <button id="add_video_master_to_playlist" type="button" class="btn btn-mini btn-info" onclick="$('#add_video_master_to_playlist_hidden').click();">Add
          Master
        </button>
        <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">
          Select Columns
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @columns.each.with_index do |column, index| %>
            <li><%= check_box_tag column,
                                  column,
                                  session[:video_master_playlist_checked].present? ? session[:video_master_playlist_checked][index] == 'true' : true %> <%= column %></li>
          <% end %>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @video_master_playlist %>
    </div>
  <% end %>

  <%= content_for :modal do %>
    <%= render 'modal' %>
  <% end %>

  <% content_for(:head) do %>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <script>
      jQuery(document).ready(function () {
        jQuery('#print_playlist').click(function (event) {
          if (!confirm("ALERT! Please change your page layout to LANDSCAPE when printing")) {
            event.preventDefault();
          }
        });
      });
    </script>
  <% end %>

  <script type="text/javascript">

    var $ = jQuery;

    // this sets up the ajax loader, and it will stay until the method specific js removes it
    $('a[data-target=#ajax-modal]').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      $('body').modalmanager('loading');
      $.rails.handleRemote($(this));
    });

    // removes whatever is in the modal body content div upon clicking close/outside modal
    $(document).on('click', '[data-dismiss=modal], .modal-scrollable', function (e) {
      $('.modal-body-content').empty();
    });

    $(document).on('click', '#ajax-modal', function (e) {
      e.stopPropagation();
    });

    // Table column select
    $(document)
        .on('click', '#table-column-select ul li input', function (e) {
          e.stopPropagation();
        })
        .on('change', '#table-column-select ul li input', function (e) {

          var checked = $(this).is(":checked");

          var index = $(this).parent().index();

          if (checked) {
            $('#playlist table thead th').eq(index).show();
            $('#playlist table thead th').eq(index).attr('data-display', 'visible');
          } else {
            $('#playlist table thead th').eq(index).hide();
            $('#playlist table thead th').eq(index).attr('data-display', 'none');
          }

          $('#playlist table tbody tr').each(function () {
            if (checked) {
              $(this).find("td").eq(index).show();
              $(this).find("td").eq(index).attr('data-display', 'visible');
            } else {
              $(this).find("td").eq(index).hide();
              $(this).find("td").eq(index).attr('data-display', 'none');
            }
          });

          var checkedVals = $('#table-column-select ul li input').map(function () {
            return $(this).prop('checked');
          }).get();

          console.log(checkedVals);

          $.ajax({
            url: '/video_master_playlists/table_column_select',
            type: 'post',
            data: { checked: checkedVals }
          });
        });

  </script>
<% end %>