<script>
  jQuery(document).ready(function () {
    window.print();
  });
</script>
<%= render partial: 'layouts/movies_nav' %>

<div class="container">

  <div class="row">
    <div class="span12">
      <div id="bootstrap-flash">
        <%= bootstrap_flash %>
      </div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <div class="row">
    <div class="span3">
      <div class="content">
        <div class="info info-title">
          Programmer
        </div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= @video_master_playlist.user.login.titleize if !@video_master_playlist.user_id.nil? %>
            </li>
          </ul>
        </div>
        <br>

        <div class="info info-title">
          <%= @video_master_playlist.airline.code if !@video_master_playlist.airline_id.nil? %><%= @video_master_playlist.start_cycle.strftime("%m%y") %>
          Information
        </div>
        <div class="info-list">
          <ul>
            <li class="info">
              Airline: <%= @video_master_playlist.airline.name if !@video_master_playlist.airline.nil? %> <%= @video_master_playlist.airline.code if !@video_master_playlist.airline.nil? %>
            </li>
            <li class="info">
              Start Cycle: <%= @video_master_playlist.start_cycle.strftime("%m-%Y") %>
            </li>
            <li class="info">
              End Cycle: <%= @video_master_playlist.end_cycle.strftime("%m-%Y") %>
            </li>
            <li class="info">
              Master Playlist
              Type: <%= @video_master_playlist.master_playlist_type.name unless @video_master_playlist.master_playlist_type.nil? %>
            </li>
            <li class="info">
              Edit Runtime: <%= @video_master_playlist.edit_runtime %>
            </li>
            <li class="info">
              Total Runtime: <%= @video_master_playlist.total_runtime %>
            </li>
            <li class="info">
              Media Instruction: <%= @video_master_playlist.media_instruction.gsub(/\n/, '<br/>').html_safe %>
            </li>
          </ul>
        </div>

        <br>

        <div class="info info-title">Tools</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= link_to "Download PDF",
                          {controller: "video_master_playlists",
                           action: "show",
                           id: @video_master_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Export as Excel",
                          controller: "video_master_playlists",
                          action: "export_to_excel",
                          id: @video_master_playlist %>
            </li>
            <li class="info">
              <%= link_to "Edit Playlist",
                          {controller: "video_master_playlists",
                           action: "edit",
                           id: @video_master_playlist},
                          target: "_blank" %>
            </li>
          </ul>
        </div>
      </div>
      <!--/content-->
    </div>
    <!--/span-->

    <div class="span9">
      <div class="alert fade in alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>ALERT!</strong> Please change your page layout to <i>LANDSCAPE</i> when printing
      </div>

      <div class="info info-title playlist-title">Playlist</div>
      <div id="playlist_item_view_container">
        <%= render partial: 'playlist_item_view',
                   collection: @video_master_playlist.video_master_playlist_items_sorted %>
      </div>

      <%= link_to 'Back',
                  video_master_playlists_path %>
    </div>
  </div>
</div>
