<%= search_form_for @search,
                    class: 'spinner-trigger' do |tracks| %>

  <div class="control-group">
    <div class="controls combinator-select-container">
      <%= tracks.combinator_select %>
    </div>

    <%= tracks.text_field :title_original_cont,
                          placeholder: 'Title Original' %>

    <%= tracks.text_field :artist_original_cont,
                          placeholder: 'Artist Original' %>
    <br>
    Duration: <br>
    <%= text_field_tag 'dur_min_min',
                       params[:dur_min_min],
                       placeholder: 'Minutes',
                       class: 'small-input' %>
    :
    <%= text_field_tag 'dur_min_sec',
                       params[:dur_min_sec],
                       placeholder: 'Seconds',
                       class: 'small-input' %> <br>
    To: <br>
    <%= text_field_tag 'dur_max_min',
                       params[:dur_max_min],
                       placeholder: 'Minutes',
                       class: 'small-input' %>
    :
    <%= text_field_tag 'dur_max_sec',
                       params[:dur_max_sec],
                       placeholder: 'Seconds',
                       class: 'small-input' %> <br>

    <br>
    <%= tracks.text_field :title_english_cont,
                          placeholder: 'Title (Translated)' %>

    <%= tracks.text_field :artist_english_cont,
                          placeholder: 'Artist (Translated)' %>

    <div class="controls">
      <%= tracks.select :album_label_id_eq,
                        Label.all.collect { |p| [p.name,
                                                 p.id] },
                        {include_blank: true},
                        {class: 'select2',
                         data: {placeholder: 'Label'}} %>
    </div>

    <%= tracks.text_field :album_cd_code_cont,
                          placeholder: 'CD Code' %>

    <label class="checkbox">
      <%= tracks.check_box :to_delete_eq %> Pending Delete
    </label>

  </div>

  <%= tracks.submit "Search",
                    {class: 'btn'} %>

<% end %>
