<%= minimal_form_for @movie_playlist,
                     html: {class: 'form-vertical', multipart: true} do |f| %>

  <div class="span3">
    <div class="content">
      <% if @movie_playlist.user_id.present? %>
        <div class="info info-title">Programmer</div>
        <div class="info-list">
          <ul>
            <li class="info"><%= @movie_playlist.user.login.titleize if !@movie_playlist.user_id.nil? %>&nbsp;</li>
          </ul>
        </div>
        <br>
      <% end %>
      <% if controller.action_name != 'new' %>
        <div class="info info-title">Tools</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= link_to "Print Playlist",
                          {controller: "movie_playlists",
                           action: "show",
                           id: @movie_playlist},
                          id: 'print_playlist',
                          target: '_blank' %>
            </li>
            <li class="info">
              <%= link_to "Download English PDF",
                          {controller: "movie_playlists",
                           action: "show",
                           id: @movie_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Download Chinese PDF",
                          {controller: "movie_playlists",
                           action: "show_chinese",
                           id: @movie_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Export as Excel",
                          controller: "movie_playlists",
                          action: "export_to_excel",
                          id: @movie_playlist %>
            </li>
            <% if @movie_playlist.thales_schema_package_file_name.present? %>
              <li class="info">
                <%= link_to "Download Thales Schema Package",
                            controller: "movie_playlists",
                            action: "download_thales_schema_package",
                            id: @movie_playlist %>
              </li>
            <% end %>
          </ul>
        </div>
        <br>
      <% end %>
      <% permitted_to? :download_thales_schema_package, :movie_playlists do %>
        <div class="info info-title">Thales Schema Package</div>
        <div class="info-list">
          <ul>
            <% if @movie_playlist.thales_schema_package_file_name.present? %>
              <li class="info"><%= @movie_playlist.thales_schema_package_file_name %></li>
            <% end %>
            <li class="info">
              <%= render partial: 'application/bootstrap_file_field',
                         locals: {f: f,
                                  field: :thales_schema_package,
                                  hidden_id: 'thales_schema_package',
                                  input_id: 'thales_schema_package_input',
                                  span: 'span2',
                                  placeholder: 'Thales Schema Package'} %>
            </li>
          </ul>
        </div>
        <br>
      <% end %>
    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->

  <div class="span6">
    <div class="content">
      <% if controller.action_name != 'new' %>
        <div class="tabbable">
          <ul class="nav nav-tabs pre-nav-below">
            <li>
              <%= link_to "Previous",
                          edit_movie_playlist_path(@movie_playlist.previous.id) if @movie_playlist.previous.present? %>
            </li>
            <li>
              <%= link_to "Next",
                          edit_movie_playlist_path(@movie_playlist.next.id) if @movie_playlist.next.present? %>
            </li>
            <li>
              <%= link_to 'View Movie Playlist',
                          movie_playlist_path(@movie_playlist) %>
            </li>
            <li>
              <%= link_to "New Movie Playlist",
                          new_movie_playlist_path %>
            </li>
            <% if permitted_to? :admin_delete,
                                :movie_playlists %>
              <li>
                <%= link_to 'Delete',
                            movie_playlist_url(@movie_playlist),
                            method: :delete,
                            confirm: 'Are you sure?' %>
              </li>
            <% end %>
          </ul>
        </div>

        <br>

      <% end %>

      <div class="controls controls-row">
        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :airline_id,
                            link_path: airlines_path,
                            collection: Airline.order("name asc").collect { |p| [p.name + " - " + p.code, p.id] },
                            placeholder: 'Airline',
                            span: 'span3'} %>

        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :movie_playlist_type_id,
                            link_path: movie_playlist_types_path,
                            collection: MoviePlaylistType.order("name asc").collect { |p| [p.name, p.id] },
                            placeholder: 'Movie Playlist Type',
                            span: 'span3'} %>
      </div>

      <div class="controls controls-row">
        <%= render partial: 'application/bootstrap_append_datepicker',
                   locals: {f: f,
                            field: :start_cycle,
                            value: @movie_playlist.start_cycle,
                            input_id: 'start_cycle_datepicker',
                            date_format: 'mm/yyyy',
                            date_viewmode: 'months',
                            date_minviewmode: 'months',
                            datepicker_behaviour: 'datepicker-months',
                            placeholder: 'Start Cycle',
                            span: 'span3'} %>

        <%= render partial: 'application/bootstrap_append_datepicker',
                   locals: {f: f,
                            field: :end_cycle,
                            value: @movie_playlist.end_cycle,
                            input_id: 'end_cycle_datepicker',
                            date_format: 'mm/yyyy',
                            date_viewmode: 'months',
                            date_minviewmode: 'months',
                            datepicker_behaviour: 'datepicker-months',
                            placeholder: 'End Cycle',
                            span: 'span3'} %>
      </div>

      <div class="controls controls-row">
        <%= f.button :submit, class: 'btn span3' %>
      </div>

      <% if controller.action_name != 'new' %>

        <br><br>
        <!-- Button to trigger modal -->
        <%= link_to 'Add Movie',
                    add_movie_to_playlist_path(id: @movie_playlist.id),
                    id: 'add_movie_to_playlist_hidden',
                    class: 'btn hidden-input',
                    role: 'btn',
                    data: {toggle: 'modal', target: '#ajax-modal'} %>
        <br><br>
      <% end %>

    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->
<% end %>

<% if controller.action_name != 'new' %>
  <%= content_for :playlist do %>
    <div class="info info-title">
      Playlist
      <div class="btn-group pull-right" id="table-column-select">
        <!-- Button to trigger modal -->
        <button id="add_movie_to_playlist" type="button" class="btn btn-mini btn-info" onclick="$('#add_movie_to_playlist_hidden').click();">Add
          Movie
        </button>
        <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">
          Select Columns
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @columns.each.with_index do |column, index| %>
            <li><%= check_box_tag column,
                                  column,
                                  session[:movie_playlist_checked].present? ? session[:movie_playlist_checked][index] == 'true' : true %> <%= column %></li>
          <% end %>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @movie_playlist %>
    </div>
  <% end %>

  <%= content_for :modal do %>
    <%= render 'modal' %>
  <% end %>

  <% content_for(:head) do %>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <script>
      jQuery(document).ready(function () {
        jQuery('#print_playlist').click(function (event) {
          if (!confirm("ALERT! Please change your page layout to LANDSCAPE when printing")) {
            event.preventDefault();
          }
        });
      });
    </script>
  <% end %>

  <script type="text/javascript">

    var $ = jQuery;

    // this sets up the ajax loader, and it will stay until the method specific js removes it
    $('a[data-target=#ajax-modal]').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      $('body').modalmanager('loading');
      $.rails.handleRemote($(this));
    });

    // removes whatever is in the modal body content div upon clicking close/outside modal
    $(document).on('click', '[data-dismiss=modal], .modal-scrollable', function (e) {
      $('.modal-body-content').empty();
    });

    $(document).on('click', '#ajax-modal', function (e) {
      e.stopPropagation();
    });

    // Table column select
    $(document)
        .on('click', '#table-column-select ul li input', function (e) {
          e.stopPropagation();
        })
        .on('change', '#table-column-select ul li input', function (e) {

          var checked = $(this).is(":checked");

          var index = $(this).parent().index();

          if (checked) {
            $('#playlist table thead th').eq(index).show();
          } else {
            $('#playlist table thead th').eq(index).hide();
          }

          $('#playlist table tbody tr').each(function () {
            if (checked) {
              $(this).find("td").eq(index).show();
            } else {
              $(this).find("td").eq(index).hide();
            }
          });

          var checkedVals = $('#table-column-select ul li input').map(function () {
            return $(this).prop('checked');
          }).get();

          console.log(checkedVals);

          $.ajax({
            url: '/movie_playlists/table_column_select',
            type: 'post',
            data: { checked: checkedVals }
          });
        });

  </script>
<% end %>
