<% @selected_track = (params[:language]).nil? ? '' : params[:language][:track] %>
<% @selected_subtitle = (params[:language]).nil? ? '' : params[:language][:subtitle] %>
<%= search_form_for @search,
                    builder: MinimalNestedFormBuilder,
                    url: add_movie_to_playlist_path(id: @movie_playlist.id),
                    remote: true,
                    id: 'movie_search_form' do |movies| %>

  <div class="controls controls-row">
    <%= movies.input_field :movie_title_or_foreign_language_title_cont_any,
                           placeholder: 'Movie Title',
                           class: 'span12',
                           value: @original %>
  </div>

  <div class="controls controls-row">
    <%= movies.input_field :cast_cont,
                           placeholder: 'Cast',
                           class: 'span12' %>
  </div>

  <div class="controls controls-row">
    <%= movies.input_field :director_cont,
                           placeholder: 'Director',
                           class: 'span12' %>
  </div>

  <div class="controls controls-row">
    <%= movies.input_field :movie_distributor_id_eq,
                           placeholder: 'Movie Distributor',
                           as: :select,
                           collection: Supplier.movie_distributors.collect { |p| [p.company_name, p.id] },
                           include_blank: true,
                           tabindex: autotab,
                           class: 'select2 span12' %>
  </div>

  <div class="controls controls-row">
    <%= movies.input_field :laboratory_id_eq,
                           collection: Supplier.laboratories.collect { |p| [p.company_name,
                                                                            p.id] },
                           include_blank: true,
                           class: 'select2 span12',
                           placeholder: 'Laboratory' %>
  </div>

  <div class="controls controls-row">
    <%= movies.input_field :movie_type_id_eq,
                           collection: MovieType.order("name")
                           .collect { |p| [p.name,
                                           p.id] },
                           include_blank: true,
                           class: 'select2 span12',
                           placeholder: 'Movie Type' %>
  </div>

  <div class="controls controls-row">
    <%= movies.input_field :movie_genres_id_eq,
                           collection: MovieGenre.order("name")
                           .collect { |p| [p.name,
                                           p.id] },
                           include_blank: true,
                           class: 'select2 span12',
                           placeholder: 'Genre' %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: {f: movies,
                        field: :airline_release_date_gteq,
                        value: params[:q].present? && params[:q][:airline_release_date_gteq].present? ? params[:q][:airline_release_date_gteq] : '',
                        input_id: 'airline_release_date_gteq_datepicker',
                        date_format: 'mm/yyyy',
                        date_viewmode: 'months',
                        date_minviewmode: 'months',
                        datepicker_behaviour: 'datepicker-months',
                        placeholder: 'Airline Release Date From',
                        span: 'span12'} %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: {f: movies,
                        field: :airline_release_date_lteq,
                        value: params[:q].present? && params[:q][:airline_release_date_lteq].present? ? params[:q][:airline_release_date_lteq] : '',
                        input_id: 'airline_release_date_lteq_datepicker',
                        date_format: 'mm/yyyy',
                        date_viewmode: 'months',
                        date_minviewmode: 'months',
                        datepicker_behaviour: 'datepicker-months',
                        placeholder: 'Airline Release Date To',
                        span: 'span12'} %>
  </div>

  <div class="controls controls-row">
    <%= select :language,
               :track,
               @languages,
               {include_blank: true,
                selected: @selected_track},
               {class: 'select2 span12',
                data: {placeholder: 'Languages'}} %>
  </div>

  <div class="controls controls-row">
    <%= select :language,
               :subtitle,
               @languages,
               {include_blank: true,
                selected: @selected_subtitle},
               {class: 'select2 span12',
                data: {placeholder: 'Subtitles'}} %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: {f: movies,
                        field: :theatrical_release_year_eq,
                        value: params[:q].present? && params[:q][:theatrical_release_year_eq].present? ? params[:q][:theatrical_release_year_eq] : '',
                        input_id: 'theatrical_release_year_eq_datepicker',
                        date_format: 'yyyy',
                        date_viewmode: 'years',
                        date_minviewmode: 'years',
                        datepicker_behaviour: 'datepicker-years',
                        placeholder: 'Theatrical Release Year',
                        span: 'span12'} %>
  </div>

  <div class="controls controls-row">
    <%= movies.input_field :id_eq,
                           placeholder: 'Movie ID',
                           class: 'span12' %>
  </div>

  <div class="controls controls-row">
    <label class="checkbox">
      <%= check_box :screener,
                    :held,
                    {inline_label: "Screener Held",
                     class: 'boolean optional'},
                    !params[:screener].nil? && params[:screener][:held] == '1' ? true : false %>
      Screener Held
    </label>
  </div>

  <div class="controls controls-row">
    <label class="checkbox">
      <%= check_box :screener,
                    :destroyed,
                    {inline_label: "Screener Destroyed",
                     class: 'boolean optional'},
                    !params[:screener].nil? && params[:screener][:destroyed] == '1' ? true : false %>
      Screener Destroyed
    </label>
  </div>

  <div class="controls controls-row">
    <label class="checkbox">
      <%= check_box_tag :active, '1', params[:active].to_i == 1 %> Deactivated Movie
    </label>
  </div>

  <div class="controls controls-row">
    <label class="checkbox">
      <%= check_box_tag :to_delete, '1', params[:to_delete].to_i == 1 %> Pending Delete
    </label>
  </div>
  <br>

  <div class="controls controls-row">
    <%= movies.submit 'Search', class: 'btn', data: {remote: true} %>
    <input class="form-reset btn" type="reset" value="Reset">
    <br><br>
  </div>
<% end %>
