<% if @movie_playlists_count > 0 %>
  <table class="table">
    <thead>
    <tr>
      <th>
        <%= sort_link(@search,
                      :id,
                      'ID') %>
      </th>
      <th>
        <%= sort_link(@search,
                      :airline_name,
                      'Airline') %>
      </th>
      <th>
        <%= sort_link(@search,
                      :start_cycle,
                      'Start Date') %>
      </th>
      <th>
        <%= sort_link(@search,
                      :end_cycle,
                      'End Date') %>
      </th>
      <th>
        <%= sort_link(@search,
                      :movie_playlist_type_name,
                      'Movie Playlist Type') %>
      </th>
      <th width="220" colspan="2"></th>
    </tr>
    </thead>

    <%= render partial: "movie_playlist",
               collection: @movie_playlists %>
  </table>

  <br>

  <%= will_paginate @movie_playlists,
                    inner_window: 1,
                    renderer: BootstrapPagination::Rails,
                    class: 'pagination pagination-small',
                    inner_window: 1,
                    renderer: BootstrapPagination::Rails,
                    class: 'pagination pagination-small' %>
  <%
     def items_per_page_select(collection = MoviePlaylists)
       select_tag :per_page, options_for_select([10, 20, 50, 100, 300], collection.per_page),
                  class: 'items_per_page_select_menu',
                  class: 'items_per_page_select_menu'
     end
  %>
  <%= form_for '/movie_playlists', method: :get, html: {class: 'items_per_page_select'} do |f| %>
    <span>Items per page: </span>
    <%= items_per_page_select @movie_playlists %>
    <%= f.submit "Submit",
                 class: 'btn btn-small',
                 class: 'btn btn-small' %>
    <br>
    <br>
    <%= @movie_playlists_count %> movies found
    <br>
  <% end %>

<% else %>

  No playlists were found

<% end %>