<%= search_form_for @search,
                    class: 'spinner-trigger' do |movie_playlists| %>
  <div class="control-group">

    <div class="controls combinator-select-container">
      <%= movie_playlists.combinator_select %>
    </div>

    <%= movie_playlists.text_field :id_eq,
                                   placeholder: 'Playlist ID' %>

    <div class="controls">
      <%= movie_playlists.select :airline_id_eq,
                                 Airline.order("name asc")
                                 .collect { |p| [p.name,
                                                 p.id] },
                                 {include_blank: true},
                                 {class: 'select2',
                                  data: {placeholder: 'Airline'}} %>
    </div>

    <div class="controls">
      <%= movie_playlists.select :movie_playlist_type_id_eq,
                                 MoviePlaylistType.order("name asc")
                                 .collect { |p| [p.name,
                                                 p.id] },
                                 {include_blank: true},
                                 {class: 'select2',
                                  data: {placeholder: 'Movie Playlist Type'}} %>
    </div>

    <%= movie_playlists.text_field :start_cycle_gteq,
                                   data: {behaviour: 'datepicker-months'},
                                   placeholder: 'Start Playdate' %>

    <%= movie_playlists.text_field :end_cycle_lteq,
                                   data: {behaviour: 'datepicker-months'},
                                   placeholder: 'End Playdate' %>

  </div>

  <%= movie_playlists.submit "Search",
                             {class: 'btn'} %>
  <input type="reset" value="Reset" class="btn">

<% end %>
