<%= render partial: 'layouts/movieplaylist_header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      &nbsp;
    </div>
    <div class="span9">
      <%= link_to "Create a playlist",
                  new_movie_playlist_path,
                  class: 'btn btn-create' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'search_form',
                 object: @search %>
    </div>
    <!--/span-->
    <div class="span9" id="no-more-tables">
      <%= bootstrap_flash %>
      <%= render partial: "movie_playlists" %>
    </div>
  </div>
  <!--/row-->
</div> <!-- /container -->
