<script>
  jQuery(document).ready(function () {
    window.print();
  });
</script>

<%= render partial: 'layouts/movies_nav' %>

<div class="container">

  <div class="row">
    <div class="span12">
      <%= bootstrap_flash %>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <div class="row">
    <div class="span3">
      <div class="content">

        <span style="display:none;"><%= check_box_tag "chinese_checkbox" %> Chinese? &nbsp;</span>

        <div class="info info-title">Movie Type</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= "#{@movie_playlist.movie_playlist_type.name}s " if !@movie_playlist.movie_playlist_type.nil? %>
            </li>
          </ul>
        </div>

        <br>

        <div class="info info-title">Tools</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= link_to "Download English PDF",
                          {controller: "movie_playlists",
                           action: "show",
                           id: @movie_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Download Chinese PDF",
                          {controller: "movie_playlists",
                           action: "show_chinese",
                           id: @movie_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Export as Excel",
                          controller: "movie_playlists",
                          action: "export_to_excel",
                          id: @movie_playlist %>
            </li>
            <li class="info">
              <%= link_to "Edit Playlist",
                          {controller: "movie_playlists",
                           action: "edit",
                           id: @movie_playlist},
                          target: "_blank" %>
            </li>
            <% if @movie_playlist.thales_schema_package_file_name.present? then %>
              <li class="info">
                <%= link_to "Download Thales Schema Package",
                            controller: "movie_playlists",
                            action: "download_thales_schema_package",
                            id: @movie_playlist %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!--/content-->

      <br>
      <a class="btn" onclick="$('#chinese_checkbox').click();">Switch language</a>
    </div>
    <!--/span-->

    <div class="span9">
      <div class="info info-title">Playlist</div>
      <div id="playlist_item_view_container">
        <%= render partial: 'playlist_item_view',
                   collection: @movie_playlist.movie_playlist_items_sorted,
                   locals: {language: 'english'} %>
      </div>

      <%= link_to 'Back',
                  movie_playlists_path %>
    </div>
  </div>
</div>

<script>

  var $ = jQuery;

  $(document).ready(function () {

    var playlist;

    $('#chinese_checkbox').on("change", function () {
      if ($(this).is(':checked')) {
        playlist = " <%= escape_javascript(render partial: 'playlist_item_view',
                                                  collection: @movie_playlist.movie_playlist_items_sorted,
                                                  locals: {language: 'chinese' }) %> ";
      } else {
        playlist = " <%= escape_javascript(render partial: 'playlist_item_view',
                                                  collection: @movie_playlist.movie_playlist_items_sorted,
                                                  locals: {language: 'english' }) %> ";
      }

      $("#playlist_item_view_container").html(playlist);
    });

  });

</script>
