<tr id="album_category-row-<%= album_category.id %>">
  <td class="list-item"><%= album_category.id %></td>
  <td class="list-item"><%= album_category.name %></td>
  <td class="list-item"><%= album_category.code %></td>
  <td class="list-item">
    <%= link_to 'Edit',
                edit_album_category_path(album_category),
                class: 'btn btn-mini' %>
    <%= link_to 'Delete',
                album_category,
                confirm: 'Are you sure?',
                method: :delete,
                class: 'btn btn-mini' %>
  </td>
</tr>