<%= minimal_form_for @movie,
                     html: {class: 'form-vertical', multipart: true} do |f| %>
  <div class="span3">
    <div class="poster-title poster-info">
      Poster image
    </div>
    <div class="poster-list">
      <ul>
        <li class="poster-info">
          <%= render partial: 'application/bootstrap_file_field',
                     locals: { f: f,
                               field: :poster,
                               hidden_id: 'movie_poster',
                               input_id: 'movie_poster_input',
                               span: 'span2',
                               placeholder: 'Poster Image' } %>
        </li>
        <li class="poster-info">
          <% href = "https://www.google.com/images?safe=off&site=imghp&q=cover+poster" %>
          <% href = "#{href}+#{@movie.foreign_language_title.present? ? @movie.foreign_language_title.to_s.downcase : @movie.movie_title.to_s.downcase}" %>
          <% href = "#{href}+#{@movie.theatrical_release_year.to_s}" %>
          <a href="<%= href %>" target="_blank" id="google-images-link">
            Search Google Images
          </a>
        </li>
      </ul>
    </div>
    <div id="poster-thumbnail">
      <%= link_to(image_tag(@movie.poster.url, class: 'poster-image'),
                  @movie.poster.url,
                  target: "_blank") %>
      <div class="poster-title poster-info">
        Search tools
      </div>
      <div class="poster-list">
        <ul>
          <li class="poster-info">
            <%= link_to("Search Box Office Mojo",
                        "http://www.boxofficemojo.com/search/?q=" + CGI.escape(@movie.movie_title.to_s),
                        target: "_blank") %>
          </li>
          <li class="poster-info">
            <%= link_to("Search Yahoo Movies",
                        "http://movies.yahoo.com/mv/search?fr=ush-movies&toggle=1&cop=&ei=UTF-8&p=" + CGI.escape(@movie.movie_title.to_s),
                        target: "_blank") %>
          </li>
          <li class="poster-info">
            <%= link_to("Search Taiwan Yahoo Movies",
                        "http://tw.movie.yahoo.com/moviesearch_result.html?qmv=" + CGI.escape(@movie.movie_title.to_s),
                        target: "_blank") %>
          </li>
          <li class="poster-info">
            <%= link_to("Search Rotten Tomatoes",
                        "http://www.rottentomatoes.com/search/full_search.php?search=" + CGI.escape(@movie.movie_title.to_s),
                        target: "_blank") %>
          </li>
          <li class="poster-info">
            <%= link_to("Search IMDB",
                        "http://www.imdb.com/find?s=all&q=" + CGI.escape(@movie.movie_title.to_s),
                        target: "_blank") %>
          </li>
          <li class="poster-info">
            <%= link_to("Search Mtime",
                        "http://www.mtime.com/search/?" + CGI.escape(@movie.movie_title.to_s),
                        target: "_blank") %>
          </li>
        </ul>
      </div>
      <div class="poster-title poster-info">
        Video tools
      </div>
      <div class="poster-list">
        <ul>
          <li class="poster-info">
            <%= link_to "Add EPK",
                        new_video_path(id: params[:id], video_type: CGI.escape("Movie EPK")) %>
          </li>
          <li class="poster-info">
            <%= link_to "Add Trailer",
                        new_video_path(id: params[:id], video_type: CGI.escape("Movie Trailer")) %>
          </li>
          <li class="poster-info">
            <%= link_to "Add Master",
                        new_video_path(id: params[:id], video_type: CGI.escape("Movie Master")) %>
          </li>
          <li class="poster-info">
            <%= link_to "Add TV Special",
                        new_video_path(id: params[:id], video_type: CGI.escape("TV Special")) %>
          </li>
        </ul>
      </div>
    </div>
    <br>
  </div>
  <!--/span-->

  <div class="span6">
  <div class="content">
  <% if controller.action_name != 'new' %>
    <div class="tabbable">
      <ul class="nav nav-tabs pre-nav-below">
        <li>
          <%= link_to "Previous",
                      edit_movie_path(@movie.previous.id) if @movie.previous.present? %>
        </li>
        <li>
          <%= link_to "Next",
                      edit_movie_path(@movie.next.id) if @movie.next.present? %>
        </li>
        <li>
          <%= link_to 'View Movie',
                      movie_path(@movie) %>
        </li>
        <li>
          <%= link_to "New Movie",
                      new_movie_path %>
        </li>
        <% if permitted_to? :admin_delete,
                            :movies %>
          <li>
            <%= link_to 'Delete',
                        movie_url(@movie),
                        method: :delete,
                        confirm: 'Are you sure?' %>
          </li>
        <% end %>
      </ul>
    </div>

    <br>

  <% end %>

  <div class="controls controls-row">
    <%= f.input_field :movie_title,
                      placeholder: "Movie Title",
                      tabindex: autotab,
                      class: 'span3' %>
    <%= f.input_field :chinese_movie_title,
                      placeholder: "Chinese Movie Title",
                      tabindex: autotab,
                      class: 'span3' %>
  </div>

  <div class="controls controls-row">

    <%= render partial: 'application/bootstrap_prepend_select',
               locals: { f: f,
                         field: :movie_type_id,
                         link_path: movie_types_path,
                         collection: MovieType.order("name").collect { |p| [p.name, p.id] },
                         placeholder: 'Movie Type',
                         span: 'span3' } %>

    <% if @movie.movie_type.name=="Hollywood Movie" %>
      <%= f.input_field :foreign_language_title,
                        placeholder: "Foreign Language Title",
                        disabled: true,
                        tabindex: autotab,
                        class: 'span3' %>
    <% else %>
      <%= f.input_field :foreign_language_title,
                        placeholder: "Foreign Language Title",
                        tabindex: autotab,
                        class: 'span3' %>
    <% end %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: { f: f,
                         field: :theatrical_release_year,
                         value: @movie.theatrical_release_year,
                         input_id: 'theatrical_release_year_datepicker',
                         date_format: 'yyyy',
                         date_viewmode: 'years',
                         date_minviewmode: 'years',
                         datepicker_behaviour: 'datepicker-years',
                         placeholder: 'Theatrical Release Year',
                         span: 'span3'} %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_prepend_select',
               locals: { f: f,
                         field: :movie_distributor_id,
                         link_path: suppliers_path,
                         collection: Supplier.movie_distributors.collect { |p| [p.company_name, p.id] },
                         placeholder: 'Distributor',
                         span: 'span6' } %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_prepend_select',
               locals: { f: f,
                         field: :laboratory_id,
                         link_path: suppliers_path,
                         collection: Supplier.production_studios.collect { |p| [p.company_name, p.id] },
                         placeholder: 'Production Studio',
                         span: 'span6' } %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_prepend_select',
               locals: { f: f,
                         field: :production_studio_id,
                         link_path: suppliers_path,
                         collection: Supplier.laboratories.collect { |p| [p.company_name, p.id] },
                         placeholder: 'Laboratory',
                         span: 'span6' } %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: { f: f,
                         field: :airline_release_date,
                         value: @movie.airline_release_date,
                         input_id: 'airline_release_date_datepicker',
                         date_format: 'mm/yyyy',
                         date_viewmode: 'years',
                         date_minviewmode: 'months',
                         datepicker_behaviour: 'datepicker-months',
                         placeholder: 'Airline Release Date',
                         span: 'span3'} %>

    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: { f: f,
                         field: :personal_video_date,
                         value: @movie.personal_video_date,
                         input_id: 'personal_video_date_datepicker',
                         date_format: 'mm/yyyy',
                         date_viewmode: 'years',
                         date_minviewmode: 'months',
                         datepicker_behaviour: 'datepicker-months',
                         placeholder: 'Personal Video Date',
                         span: 'span3'} %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: { f: f,
                         field: :screener_received_date,
                         value: @movie.screener_received_date,
                         input_id: 'screener_received_date',
                         date_format: 'dd/mm/yyyy',
                         date_viewmode: 'days',
                         date_minviewmode: 'days',
                         datepicker_behaviour: 'datepicker-days',
                         placeholder: 'Screener Recieved Date',
                         span: 'span3'} %>

    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: { f: f,
                         field: :screener_destroyed_date,
                         value: @movie.screener_destroyed_date,
                         input_id: 'screener_destroyed_date',
                         date_format: 'dd/mm/yyyy',
                         date_viewmode: 'days',
                         date_minviewmode: 'days',
                         datepicker_behaviour: 'datepicker-days',
                         placeholder: 'Screener Destroyed Date',
                         span: 'span3'} %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :has_press_kit,
                      :as => :boolean,
                      tabindex: autotab,
                      :inline_label => "Photo CD/Press Kit" %>

    <%= f.input_field :has_poster,
                      :as => :boolean,
                      tabindex: autotab,
                      :inline_label => "Poster" %>

    <label class="number-input-label">
      &nbsp; Poster Quantity
      <%= f.input_field :poster_quantity,
                        :type => :number,
                        :placeholder => "Quantity",
                        tabindex: autotab,
                        :class => 'span1' %>
    </label>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :rating,
                      placeholder: "Rating",
                      as: :select,
                      collection: %w(NR G PG PG-13 R NC-17),
                      include_blank: true,
                      tabindex: autotab,
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <label class="number-input-label">
      &nbsp; Theatrical Runtime
      <%= f.input_field :theatrical_runtime,
                        :type => :number,
                        :placeholder => "Theatrical Runtime",
                        tabindex: autotab,
                        :class => 'span2' %>
    </label>
  </div>

  <div class="controls controls-row">
    <label class="number-input-label">
      &nbsp; Edited Runtime
      <%= f.input_field :edited_runtime,
                        :type => :number,
                        :placeholder => "Edited Runtime",
                        tabindex: autotab,
                        :class => 'span2' %>
    </label>
  </div>

  <div class="controls controls-row">
    <div class="select2-container-outer span3">
      <%= f.input_field :release_versions,
                        :as => :select,
                        :multiple => true,
                        :collection => Movie::RELEASE_VERSIONS,
                        :placeholder => "Release Versions",
                        :class => 'select2 span3' %>
    </div>
  </div>

  <div class="controls controls-row">
    <div class="select2-container-outer span3">
      <%= f.input_field :screener_remarks,
                        :as => :select,
                        :multiple => true,
                        :collection => Movie::SCREENER_REMARKS,
                        :placeholder => "Screener Remarks",
                        tabindex: autotab,
                        :class => 'select2 span3' %>
    </div>
    <%= f.input_field :screener_remarks_other,
                      tabindex: autotab,
                      placeholder: "Screener Remarks Other",
                      disabled: @movie.screener_remarks.include?("Other") ? false : true,
                      :class => 'span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :gapp_number,
                      placeholder: "GAPP Number",
                      tabindex: autotab,
                      class: 'span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :airline_rights,
                      placeholder: "Airline Rights",
                      as: :select,
                      collection: ['Worldwide',
                                   'Worldwide Excluding',
                                   'International Including',
                                   'North America',
                                   'Limited'],
                      include_blank: true,
                      tabindex: autotab,
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :airline_countries,
                      placeholder: "Airline Countries",
                      disabled: ((@movie.airline_rights=="Worldwide") || (@movie.airline_rights=="North America")) ? true : false,
                      tabindex: autotab,
                      class: 'span6',
                      rows: 3 %>
  </div>

  <div class="controls controls-row">
    <div class="select2-container-outer span3">
      <%= f.input_field :language_tracks,
                        :as => :select,
                        :multiple => true,
                        :collection => @languages,
                        :placeholder => "Available Language Tracks",
                        tabindex: autotab,
                        :class => 'select2 span3' %>
    </div>

    <div class="select2-container-outer span3">
      <%= f.input_field :language_subtitles,
                        :as => :select,
                        :multiple => true,
                        :collection => @languages,
                        :placeholder => "Available Language Subtitles",
                        tabindex: autotab,
                        :class => 'select2 span3' %>
    </div>
  </div>

  <div class="controls controls-row">
    <div class="select2-container-outer span3">
      <%= f.input_field :movie_genre_ids,
                        :as => :select,
                        :multiple => true,
                        :collection => MovieGenre.order("name"),
                        :placeholder => "Movie Genres",
                        tabindex: autotab,
                        :class => 'select2 span3' %>
    </div>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :cast,
                      placeholder: "Cast",
                      tabindex: autotab,
                      class: 'span6',
                      rows: 3 %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :chinese_cast,
                      placeholder: "Chinese Cast",
                      tabindex: autotab,
                      class: 'span6',
                      rows: 3 %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :director,
                      class: 'span3',
                      tabindex: autotab,
                      placeholder: "Director" %>
    <%= f.input_field :chinese_director,
                      tabindex: autotab,
                      class: 'span3',
                      placeholder: "Director (Chinese)" %>
  </div>

  <div class="controls controls-row">
    <span id='char_count'></span> characters
    <%= f.input_field :synopsis,
                      tabindex: autotab,
                      placeholder: "Synopsis",
                      class: 'span6',
                      rows: 6 %>
  </div>

  <div class="controls controls-row">
    <span id='chinese_char_count'></span> characters
    <%= f.input_field :chinese_synopsis,
                      tabindex: autotab,
                      placeholder: "Chinese Synopsis",
                      class: 'span6',
                      rows: 6 %>
  </div>

  <div class="controls controls-row">
    <span id='imdb_char_count'></span> characters
    <%= f.input_field :imdb_synopsis,
                      tabindex: autotab,
                      placeholder: "IMDB Synopsis",
                      class: 'span6',
                      rows: 6 %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :critics_review,
                      tabindex: autotab,
                      placeholder: "Critics Review",
                      class: 'wysihtml5 span6' %>
  </div>

  <div class="controls controls-row">
    <% if @movie.id.present? %>
      <div class="action-button">
        <%= link_to "Add Critics Review", add_review_to_movie_path(id: @movie.id), id: "add_review_to_movie" %>
      </div>
    <% end %>
    Only use this remarks field as a last resort
    <%= f.input_field :remarks,
                      tabindex: autotab,
                      placeholder: "Remarks",
                      class: 'span6',
                      rows: 6 %>
  </div>
  <br>

  <%= f.button :submit, class: 'btn' %>
  <br><br><br>

  <div id="add_review_dialog" style="display:none;">
    <div id="add_review">
    </div>
  </div>

  </div>
  <!--/span-->
  </div>
<% end %>

<script>

  var $ = jQuery;
  $(document).ready(function () {

    var chars,
        chineseChars,
        imdbChars;

    chars = $('#movie_synopsis').val().length;
    chineseChars = $('#movie_chinese_synopsis').val().length;
    imdbChars = $('#movie_imdb_synopsis').val().length;

    $('#char_count').html(chars);
    $('#chinese_char_count').html(chineseChars);
    $('#imdb_char_count').html(imdbChars);

    $('#movie_synopsis').on("keyup change", function () {
      chars = $('#movie_synopsis').val().length;
      $('#char_count').html(chars);
    });

    $('#movie_chinese_synopsis').on("keyup change", function () {
      chineseChars = $('#movie_chinese_synopsis').val().length;
      $('#chinese_char_count').html(chineseChars);
    });

    $('#movie_imdb_synopsis').on("keyup change", function () {
      imdbChars = $('#movie_imdb_synopsis').val().length;
      $('#imdb_char_count').html(imdbChars);
    });

    $(document).on("click", "#add_review_to_movie", function (review) {
      review.preventDefault();
      $('#add_review_dialog').dialog({
        title: 'Add Review',
        modal: true,
        width: 912,
        height: 540,
        position: ['center', 100],
        close: function (review, ui) {
          $('#add_review_dialog').dialog('destroy');
        }
      });
      $.ajax({ url: '/add_review_to_movie/<%= @movie.id %>',
        type: 'get',
        dataType: 'script'
      });
    });

    $(document).on("click", ".expand-link", function (e) {
      e.preventDefault();
      link = $(this).attr('data-link');
      $('.expandable-row[data-link = ' + link + ']').toggle();
    });

    $(document).on("click", ".choice-link", function (e) {
      e.preventDefault();
      link = $(this).attr('data-review');
      text = $('.choice-content[data-review = ' + link + ']').text();
      $('#movie_critics_review').text(text);
      $('#add_review_dialog').dialog('destroy');
    });

    var $title = $('#movie_movie_title'),
        $f_title = $('#movie_foreign_language_title'),
        $year = $('#movie_theatrical_release_year'),
        $link = $('#google-images-link'),
        title, year, href;

    $title
        .keyup(function () {
          title = $f_title.val() == "" ? $(this).val().toLowerCase() : $f_title.val().toLowerCase();
          year = $year.val();
          href = "https://www.google.com/images?safe=off&site=imghp&q=cover+poster+" + title + "+" + year;
          $link.attr('href', href);
        });

    $f_title
        .keyup(function () {
          title = $f_title.val() == "" ? $title.val().toLowerCase() : $(this).val().toLowerCase();
          year = $year.val();
          href = "https://www.google.com/images?safe=off&site=imghp&q=cover+poster+" + title + "+" + year;
          $link.attr('href', href);
        });

    $year
        .change(function () {
          year = $(this).val();
          title = $f_title.val() == "" ? $title.val().toLowerCase() : $f_title.val().toLowerCase();
          href = "https://www.google.com/images?safe=off&site=imghp&q=cover+poster+" + title + "+" + year;
          $link.attr('href', href);
        });

  });

</script>
