<tr id="movie-<%= movie.id %>">
  <td data-title="ID"><%= link_to(movie.id,
                  movie_path(id: movie.id),
                  target: "_blank") %></td>
  <td data-title="Movie Title"><%= movie.movie_title %></td>
  <td data-title="Movie Distributor"><%= movie.movie_distributor.company_name if movie.movie_distributor.present? %>&nbsp;</td>
  <td data-title="Movie Type"><%= movie.movie_type.name if movie.movie_type.present? %>&nbsp;</td>
  <td data-title="Airline Release Date"><%= movie.airline_release_date.strftime("%m-%Y") if movie.airline_release_date.present? %>&nbsp;</td>
  <td data-title="Screener Received"><%= movie.screener_received_date.strftime("%d-%m-%Y") if movie.screener_received_date.present? %>&nbsp;</td>
  <% if (params[:playlist_id] || params["action"]=="add_movie_to_playlist") %>
    <td>
      <% if !movie.to_delete %>
        <%= link_to "add to playlist",
                    remote: true,
                    url: {controller: "movie_playlists",
                          action: "add_movie",
                          id: params[:id],
                          movie_id: movie.id},
                    class: 'spinner-trigger' %>
      <% else %>
        Pending Deletion
      <% end %>
    </td>
  <% else %>
    <td data-title="Actions">
      <%= link_to 'Edit',
                  edit_movie_path(movie),
                  target: "_blank",
                  class: 'btn btn-mini' %>
      <% if !movie.to_delete %>
        <%= link_to 'Delete',
                    movie_url(movie),
                    remote: true,
                    method: :delete,
                    confirm: 'Are you sure?',
                    class: 'spinner-trigger btn btn-mini' %>
      <% else
           if permitted_to? :admin_delete,
                            :movies %>
          <%= link_to 'Delete',
                      movie_url(movie),
                      remote: true,
                      method: :delete,
                      confirm: 'Are you sure?',
                      class: 'spinner-trigger btn btn-mini' %>
        <% end %>
        <%= link_to 'Restore',
                    restore_movie_path(movie.id),
                    remote: true,
                    class: 'spinner-trigger btn btn-mini' %>
      <% end %>
    </td>
  <% end %>
</tr>
