<% if @movies_count > 0 %>
  <div class="row-fluid">
    <div class="span4">
      <%= image_tag @movie.posters.profile %>
    </div>
    <div class="span8">
      <%= "#{@movie.title} (#{@movie.year})" %>
    </div>
  </div>
  <% if @reviews_count > 0 %>
    <div class="row-fluid">
      <div class="span12">
        <dl>
          <% @reviews.each.with_index do |review, index| %>
            <dt>
              <div class="choice-details" data-review="<%= index %>">
                <%= review['critic'] %> (<%= review['date'] %>, score: <%= review['original_score'] %>)
              </div>
            </dt>
            <dd>
              <div class="choice-content" data-review="<%= index %>">
                <%= review['quote'].strip %>
              </div>
            </dd>
            <dd>
              <a href="#" class="choice-link" data-review="<%= index %>">choose review</a>
            </dd>
            <br/>
          <% end %>
        </dl>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <%= @reviews_count %> reviews found
      </div>
    </div>
  <% else %>
    <div class="row-fluid">
      <div class="span12">
        <br/><br/>
        No reviews were found
      </div>
    </div>
  <% end %>
<% else %>
  <div class="row-fluid">
    <div class="span12">
      No movies were found
    </div>
  </div>
<% end %>
