<% if @movies_count > 0 %>
  <div class="row-fluid">
    <div class="span4">
      <div id="poster-thumbnail">
        <%= image_tag @movie.posters.detailed,
                      class: 'poster-image' %>
        <div class="poster-title poster-info">
          <%= "#{@movie.title} (#{@movie.year})" %>
        </div>
        <div class="poster-subtitle poster-info">
          Cast
        </div>
        <div class="poster-list">
          <ul>
            <% @movie.abridged_cast.each do |member| %>
              <li class="poster-info"><%= member.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="poster-subtitle poster-info">
          MPAA Rating
        </div>
        <div class="poster-list">
          <ul>
            <li class="poster-info"><%= @movie.mpaa_rating %></li>
          </ul>
        </div>
      </div>
    </div>
    <% if @reviews_count > 0 %>
      <div class="span8">
        <div class="info info-title"><%= @reviews_count %> reviews found</div>
        <dl>
          <% @reviews.each.with_index do |review, index| %>
            <dt>
            <div class="choice-details" data-review="<%= index %>">
              <%= review['critic'] %> (<%= review['date'] %>, score: <%= review['original_score'] %>)
            </div>
            </dt>
            <dd>
              <div class="choice-content" data-review="<%= index %>">
                <%= review['quote'].strip %>
              </div>
            </dd>
            <dd>
              <a href="#" class="choice-link" data-review="<%= index %>">choose review</a>
            </dd>
            <br/>
          <% end %>
        </dl>
      </div>
    <% else %>
      <div class="span8">
        <div class="info info-title">No reviews were found</div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row-fluid">
    <div class="span12">
      No movies were found
    </div>
  </div>
<% end %>
