<% @selected_track = (params[:language]).nil? ? '' : params[:language][:track] %>
<% @selected_subtitle = (params[:language]).nil? ? '' : params[:language][:subtitle] %>
<% @span_size = controller.action_name == 'index' ? 'span12' : 'span3' %>

<%= search_form_for @search,
                    builder: MinimalNestedFormBuilder,
                    class: 'spinner-trigger search-form' do |movies| %>
  <div class="control-group" style="<%= controller.action_name == 'index' ? 'margin-top: 0px;' : 'margin-top: 20px;' %>">

    <!--<div class="controls combinator-select-container">-->
    <%#= movies.combinator_select %>
    <!--</div>-->

    <div class="controls controls-row">
      <%= movies.input_field :movie_title_or_foreign_language_title_or_chinese_movie_title_cont_any,
                             placeholder: 'Movie Title',
                             class: "#{@span_size}",
                             value: @original %>
    </div>

    <div class="controls controls-row">
      <%= movies.input_field :cast_or_chinese_cast_cont_any,
                             placeholder: 'Cast',
                             class: "#{@span_size}" %>
    </div>

    <div class="controls controls-row">
      <%= movies.input_field :director_or_chinese_director_cont_any,
                             placeholder: 'Director',
                             class: "#{@span_size}" %>
    </div>

    <div class="controls controls-row">
      <%= movies.input_field :movie_distributor_id_eq,
                             placeholder: 'Movie Distributor',
                             as: :select,
                             collection: @movie_distributors,
                             include_blank: true,
                             tabindex: autotab,
                             class: "select2 #{@span_size}" %>
    </div>

    <div class="controls controls-row">
      <%= movies.input_field :laboratory_id_eq,
                             collection: @laboratories,
                             include_blank: true,
                             class: "select2 #{@span_size}",
                             placeholder: 'Laboratory' %>
    </div>

    <div class="controls controls-row">
      <%= movies.input_field :production_studio_id_eq,
                             collection: @production_studios,
                             include_blank: true,
                             class: "select2 #{@span_size}",
                             placeholder: 'Production Studio' %>
    </div>

    <div class="controls controls-row">
      <%= movies.input_field :movie_type_id_eq,
                             collection: MovieType.connection.execute(MovieType.select('name, id').order("name").to_sql).to_a,
                             include_blank: true,
                             class: "select2 #{@span_size}",
                             placeholder: 'Movie Type' %>
    </div>

    <div class="controls controls-row">
      <%= movies.input_field :movie_genres_id_eq,
                             collection: MovieGenre.connection.execute(MovieGenre.select('name, id').order("name").to_sql).to_a,
                             include_blank: true,
                             class: "select2 #{@span_size}",
                             placeholder: 'Genre' %>
    </div>

    <div class="controls controls-row">
      <%= render partial: 'application/bootstrap_append_datepicker',
                 locals: {f: movies,
                          field: :airline_release_date_gteq,
                          value: params[:q].present? && params[:q][:airline_release_date_gteq].present? ?
                              params[:q][:airline_release_date_gteq] : '',
                          input_id: 'airline_release_date_gteq_datepicker',
                          date_format: 'mm/yyyy',
                          date_viewmode: 'months',
                          date_minviewmode: 'months',
                          datepicker_behaviour: 'datepicker-months',
                          placeholder: 'Airline Release Date From',
                          span: @span_size} %>
    </div>

    <div class="controls controls-row">
      <%= render partial: 'application/bootstrap_append_datepicker',
                 locals: {f: movies,
                          field: :airline_release_date_lteq,
                          value: params[:q].present? && params[:q][:airline_release_date_lteq].present? ?
                              params[:q][:airline_release_date_lteq] : '',
                          input_id: 'airline_release_date_lteq_datepicker',
                          date_format: 'mm/yyyy',
                          date_viewmode: 'months',
                          date_minviewmode: 'months',
                          datepicker_behaviour: 'datepicker-months',
                          placeholder: 'Airline Release Date To',
                          span: @span_size} %>
    </div>

    <div class="controls controls-row">
      <%= select :language,
                 :track,
                 @languages,
                 {include_blank: true,
                  selected: @selected_track},
                 {class: "select2 #{@span_size}",
                  multiple: true,
                  data: {placeholder: 'Languages'}} %>
    </div>

    <div class="controls controls-row">
      <%= select :language,
                 :subtitle,
                 @languages,
                 {include_blank: true,
                  selected: @selected_subtitle},
                 {class: "select2 #{@span_size}",
                  multiple: true,
                  data: {placeholder: 'Subtitles'}} %>
    </div>

    <div class="controls controls-row">
      <%= render partial: 'application/bootstrap_append_datepicker',
                 locals: {f: movies,
                          field: :theatrical_release_year_eq,
                          value: params[:q].present? && params[:q][:theatrical_release_year_eq].present? ?
                              params[:q][:theatrical_release_year_eq] : '',
                          input_id: 'theatrical_release_year_eq_datepicker',
                          date_format: 'yyyy',
                          date_viewmode: 'years',
                          date_minviewmode: 'years',
                          datepicker_behaviour: 'datepicker-years',
                          placeholder: 'Theatrical Release Year',
                          span: @span_size} %>
    </div>

    <div class="controls controls-row">
      <%= movies.input_field :id_eq,
                             placeholder: 'Movie ID',
                             class: "#{@span_size}" %>
    </div>

    <div class="controls controls-row">
      <label class="checkbox">
        <%= check_box :screener,
                      :held,
                      {inline_label: "Screener Held",
                       class: 'boolean optional'},
                      !params[:screener].nil? && params[:screener][:held] == '1' ? true : false %>
        Screener Held
      </label>
    </div>

    <div class="controls controls-row">
      <label class="checkbox">
        <%= check_box :screener,
                      :destroyed,
                      {inline_label: "Screener Destroyed",
                       class: 'boolean optional'},
                      !params[:screener].nil? && params[:screener][:destroyed] == '1' ? true : false %>
        Screener Destroyed
      </label>
    </div>

    <div class="controls controls-row">
      <label class="checkbox">
        <%= check_box_tag :active, '1', params[:active].to_i == 1 %> Deactivated Movie
      </label>
    </div>

    <div class="controls controls-row">
      <label class="checkbox">
        <%= check_box_tag :to_delete, '1', params[:to_delete].to_i == 1 %> Pending Delete
      </label>
    </div>
    <br>

    <div class="controls controls-row">
      <%= movies.submit 'Search', class: 'btn' %>
      <input class="form-reset btn" type="reset" value="Reset">
    </div>

  </div>
<% end %>
