<%= search_form_for @search,
                    builder: MinimalNestedFormBuilder,
                    url: add_album_to_playlist_path(id: @album_playlist.id),
                    remote: true,
                    id: 'album_search_form',
                    class: 'search-form' do |albums| %>

  <div class="controls controls-row">
    <%= albums.input_field :title_original_cont,
                           class: 'span12',
                           placeholder: 'Title Original' %>
  </div>

  <div class="controls controls-row">
    <%= albums.input_field :artist_original_cont,
                           class: 'span12',
                           placeholder: 'Artist Original' %>
  </div>

  <div class="controls controls-row">
    <%= albums.input_field :title_english_cont,
                           class: 'span12',
                           placeholder: 'Title (Translated)' %>
  </div>

  <div class="controls controls-row">
    <%= albums.input_field :artist_english_cont,
                           class: 'span12',
                           placeholder: 'Artist (Translated)' %>
  </div>

  <div class="controls controls-row">
    <%= render partial: 'application/bootstrap_append_datepicker',
               locals: {f: albums,
                        field: :release_year_eq,
                        value: params[:q].present? && params[:q][:release_year_eq].present? ? params[:q][:release_year_eq] : '',
                        input_id: 'release_year_eq_datepicker',
                        date_format: 'yyyy',
                        date_viewmode: 'years',
                        date_minviewmode: 'years',
                        datepicker_behaviour: 'datepicker-years',
                        placeholder: 'Year',
                        span: 'span12'} %>
  </div>

  <div class="controls controls-row">
    <%= albums.input_field :cd_code_cont,
                           class: 'span12',
                           placeholder: 'CD Code' %>
  </div>

  <div class="controls controls-row">
    <%= albums.input_field :label_id_eq,
                           collection: Label.connection.execute(Label.select('name, id').to_sql).to_a,
                           include_blank: true,
                           class: 'select2 span12',
                           placeholder: 'Label' %>
  </div>

  <div class="controls controls-row">
    <%= albums.input_field :genres_id_eq,
                           collection: Genre.connection.execute(Genre.select('name, id').to_sql).to_a,
                           include_blank: true,
                           class: 'select2 span12',
                           placeholder: 'Genre' %>
  </div>

  <br>

  <div class="controls controls-row">
    <%= albums.submit 'Search', class: 'btn', data: {remote: true} %>
    <input class="form-reset btn" type="reset" value="Reset">
    <br><br>
  </div>
<% end %>
