<% @album = playlist_item_view.album %>
<% @album_playlist_item = playlist_item_view %>
<% if playlist_item_view.album.nil? %>
  <td colspan="2">Missing album <%= playlist_item_view.album_id %></td>
<% else %>
  <div class="row">
    <div class="span9">
      <table class="playlist table table-condensed">
        <tbody>
        <tr>
          <td width="25%"><strong>(<%= position %>) Album Title:</strong></td>
          <td width="25%"><%= playlist_item_view.album.title_original %></td>
          <td width="25%"><strong>Album Title (Translated)</strong>:</td>
          <td width="25%"><%= playlist_item_view.album.title_english %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Artist</strong>:</td>
          <td width="25%"><%= playlist_item_view.album.artist_original %></td>
          <td width="25%"><strong>Artist (Translated)</strong>:</td>
          <td width="25%"><%= playlist_item_view.album.artist_english %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Label</strong>:</td>
          <td width="25%"><%= playlist_item_view.album.label.name if !playlist_item_view.album.label_id.nil? %></td>
          <td width="25%"><strong>CD Code</strong>:</td>
          <td width="25%"><%= playlist_item_view.album.cd_code %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Tracks</strong>:</td>
          <td width="25%"><%= playlist_item_view.album.tracks.size %></td>
          <td width="25%"><strong>Duration:</strong></td>
          <td width="25%"><%= playlist_item_view.album.duration_in_min %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Genre</strong>:</td>
          <td width="25%"><%= show_genres(playlist_item_view.album.genres) if !playlist_item_view.album.genres.count.zero? %></td>
          <td width="25%"><strong>Explicit Lyrics</strong>:</td>
          <td width="25%"><%= has_explicit_lyrics(playlist_item_view.album.explicit_lyrics) %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Category</strong>:</td>
          <td colspan="3"><%= playlist_item_view.category.name if !playlist_item_view.category_id.nil? %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Synopsis</strong>:</td>
          <td colspan="3"><%= playlist_item_view.album.synopsis %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br/><br/>
<% end %>