<% @album = playlist_item.album %>
<% @album_playlist_item = playlist_item %>
<tr id="item_<%= playlist_item.id %>" class="sortable" data-id="<%= playlist_item.id %>">
  <% if playlist_item.album.nil? %>
    <td colspan="2">Missing album <%= playlist_item.album_id %></td>
  <% else %>

    <td data-title="Position">
      <%= position %>
      &nbsp;
    </td>

    <td data-title="Title">
      <%= link_to playlist_item.album.title_original,
                  edit_album_path(playlist_item.album),
                  target: '_blank' %>&nbsp;
    </td>

    <td data-title="Artist"><%= playlist_item.album.artist_original %>&nbsp;</td>

    <td data-title="CD Code:"><%= playlist_item.album.cd_code %>&nbsp;</td>

    <td data-title="Duration"><%= playlist_item.album.duration_in_min %>&nbsp;</td>

    <td data-title="Tracks"><%= playlist_item.album.tracks.size %>&nbsp;</td>

    <td data-title="Album Title(Translated)"><%= playlist_item.album.title_english %>&nbsp;</td>

    <td data-title="Artist(Translated)"><%= playlist_item.album.artist_english %>&nbsp;</td>

    <td data-title="Label"><%= playlist_item.album.label.name if !playlist_item.album.label_id.nil? %>&nbsp;</td>

    <td data-title="Explicit Lyrics" class="explicit_<%= has_explicit_lyrics(playlist_item.album.explicit_lyrics) %>">
      <%= has_explicit_lyrics(playlist_item.album.explicit_lyrics) %>&nbsp;
    </td>

    <td class="<%= is_nil_alert(playlist_item.album.synopsis) %>" data-title="Synopsis">
      <%= best_in_place @album,
                        :synopsis,
                        type: :textarea,
                        :nil => 'change',
                        ok_button: 'Change Synopsis',
                        ok_button_class: 'btn btn-mini best-in-place-ok',
                        cancel_button: 'Cancel',
                        cancel_button_class: 'btn btn-mini best-in-place-cancel' %>&nbsp;
    </td>

    <td data-title="Genre"><%= playlist_item.album.genre %>&nbsp;</td>

    <td data-title="Category">
      <%= link_to raw("<i class='icon icon-edit'></i>"),
                  categories_path,
                  id: "add",
                  target: "_blank" %>
      <%= best_in_place @album_playlist_item,
                        :category_id,
                        type: :select,
                        collection: Category.order("name ASC").collect { |p| [p.id, p.name] },
                        include_blank: true,
                        :nil => 'change',
                        ok_button: 'Change Category',
                        ok_button_class: 'btn btn-mini best-in-place-ok',
                        cancel_button: 'Cancel',
                        cancel_button_class: 'btn btn-mini best-in-place-cancel' %>&nbsp;
    </td>

    <td>
      <%= link_to "Delete",
                  playlist_item,
                  remote: true,
                  confirm: "Are you sure",
                  method: 'delete',
                  class: 'btn btn-mini' %>
      &nbsp;
    </td>
  <% end %>
</tr>
