<% @span_size = controller.action_name == 'index' ? 'span12' : 'span3' %>

<%= search_form_for @search,
                    builder: MinimalNestedFormBuilder,
                    class: 'spinner-trigger search-form' do |album_playlists| %>

  <div class="control-group" style="<%= controller.action_name == 'index' ? 'margin-top: 0px;' : 'margin-top: 20px;' %>">
    <!--<div class="controls combinator-select-container">-->
    <%#= album_playlists.combinator_select %>
    <!--</div>-->

    <div class="controls controls-row">
      <%= album_playlists.input_field :id_eq,
                                      class: "#{@span_size}",
                                      placeholder: 'Playlist ID' %>
    </div>

    <div class="controls controls-row">
      <%= album_playlists.input_field :client_playlist_code_cont,
                                      class: "#{@span_size}",
                                      placeholder: 'Client Playlist Code' %>
    </div>

    <div class="controls controls-row">
      <%= album_playlists.input_field :airline_id_eq,
                                      collection: Airline.connection.execute(Airline.select('name, id').order("name asc").to_sql).to_a,
                                      include_blank: true,
                                      class: "select2 #{@span_size}",
                                      placeholder: 'Airline' %>
    </div>

    <div class="controls controls-row">
      <%= render partial: 'application/bootstrap_append_datepicker',
                 locals: {f: album_playlists,
                          field: :start_playdate_gteq,
                          value: params[:q].present? && params[:q][:start_playdate_gteq].present? ? params[:q][:start_playdate_gteq] : '',
                          input_id: 'start_playdate_gteq_datepicker',
                          date_format: 'mm/yyyy',
                          date_viewmode: 'months',
                          date_minviewmode: 'months',
                          datepicker_behaviour: 'datepicker-months',
                          placeholder: 'Start Playdate',
                          span: @span_size} %>
    </div>

    <div class="controls controls-row">
      <%= render partial: 'application/bootstrap_append_datepicker',
                 locals: {f: album_playlists,
                          field: :end_playdate_lteq,
                          value: params[:q].present? && params[:q][:end_playdate_lteq].present? ? params[:q][:end_playdate_lteq] : '',
                          input_id: 'end_playdate_lteq_datepicker',
                          date_format: 'mm/yyyy',
                          date_viewmode: 'months',
                          date_minviewmode: 'months',
                          datepicker_behaviour: 'datepicker-months',
                          placeholder: 'End Playdate',
                          span: @span_size} %>
    </div>

  </div>

  <%= album_playlists.submit "Search",
                             {class: 'btn'} %>
  <input class="form-reset btn" type="reset" value="Reset">
<% end %>
