<%= search_form_for @search,
                    class: 'spinner-trigger' do |album_playlists| %>

  <div class="control-group">
    <div class="controls combinator-select-container">
      <%= album_playlists.combinator_select %>
    </div>

    <%= album_playlists.text_field :id_eq,
                                   placeholder: 'Playlist ID' %>

    <%= album_playlists.text_field :client_playlist_code_cont,
                                   placeholder: 'Client Playlist Code' %>

    <div class="controls">
      <%= album_playlists.select :airline_id_eq,
                                 Airline.order("name asc")
                                 .collect { |p| [p.name,
                                                 p.id] },
                                 {include_blank: true},
                                 {class: 'select2',
                                  data: {placeholder: 'Airline'}} %>
    </div>

    <%= album_playlists.text_field :start_playdate_gteq,
                                   data: {behaviour: 'datepicker-months'},
                                   placeholder: 'Start Playdate' %>

    <%= album_playlists.text_field :end_playdate_lteq,
                                   data: {behaviour: 'datepicker-months'},
                                   placeholder: 'End Playdate' %>

  </div>

  <%= album_playlists.submit "Search",
                             {class: 'btn'} %>
  <input type="reset" value="Reset" class="btn">
<% end %>
