<script>
  jQuery(document).ready(function () {
    window.print();
  });
</script>

<div class="container">
  <div class="span6">
    <div class="content">
      <div class="info info-title"><%= @album_playlist.client_playlist_code %> Information</div>
      <div class="info-list">
        <ul>
          <li class="info">Album Playlist ID: <%= @album_playlist.id %>
          <li class="info">Programmer: <%= @album_playlist.user.login.titleize if !@album_playlist.user_id.nil? %>
          <li class="info">Client Playlist Code: <%= @album_playlist.client_playlist_code %>
          <li class="info">Airline: <%= @album_playlist.airline.name if !@album_playlist.airline_id.nil? %>
          <li class="info">In/Out: <%= @album_playlist.in_out %>
          <li class="info">Play Date From: <%= @album_playlist.start_playdate.strftime("%Y %B") %></li>
          <li class="info">Play Date To: <%= @album_playlist.end_playdate.strftime("%Y %B") %></li>
        </ul>
      </div>
    </div>
    <br/><br/>
  </div>
  <div class="span12">
    <div class="content">
      <div class="info info-title playlist-title">Playlist</div>
      <div id="playlist_item_view_container">
        <% @album_playlist.album_playlist_items_sorted.each.with_index do |playlist_item_view, index| %>
          <div class="row">
            <div class="span12">
              <table class="playlist table table-condensed">
                <tbody>
                <tr>
                  <td width="25%"><strong>Album ID:</strong></td>
                  <td colspan="3"><%= playlist_item_view.album.id %></td>
                </tr>
                <tr>
                  <td width="25%"><strong>(<%= index + 1 %>) Album Title:</strong></td>
                  <td width="25%"><%= playlist_item_view.album.title_original %></td>
                  <td width="25%"><strong>Album Title (Translated)</strong>:</td>
                  <td width="25%"><%= playlist_item_view.album.title_english %></td>
                </tr>
                <tr>
                  <td width="25%"><strong>Artist</strong>:</td>
                  <td width="25%"><%= playlist_item_view.album.artist_original %></td>
                  <td width="25%"><strong>Artist (Translated)</strong>:</td>
                  <td width="25%"><%= playlist_item_view.album.artist_english %></td>
                </tr>
                <tr>
                  <td width="25%"><strong>Label</strong>:</td>
                  <td width="25%"><%= playlist_item_view.album.label.name if !playlist_item_view.album.label_id.nil? %></td>
                  <td width="25%"><strong>CD Code</strong>:</td>
                  <td width="25%"><%= playlist_item_view.album.cd_code %></td>
                </tr>
                <tr>
                  <td width="25%"><strong>Tracks</strong>:</td>
                  <td width="25%"><%= playlist_item_view.album.tracks.size %></td>
                  <td width="25%"><strong>Duration:</strong></td>
                  <td width="25%"><%= playlist_item_view.album.duration_in_min %></td>
                </tr>
                <tr>
                  <td width="25%"><strong>Genre</strong>:</td>
                  <td width="25%"><%= show_genres(playlist_item_view.album.genres) if !playlist_item_view.album.genres.count.zero? %></td>
                  <td width="25%"><strong>Explicit Lyrics</strong>:</td>
                  <td width="25%"><%= has_explicit_lyrics(playlist_item_view.album.explicit_lyrics) %></td>
                </tr>
                <tr>
                  <td width="25%"><strong>Category</strong>:</td>
                  <td colspan="3"><%= playlist_item_view.category.name if !playlist_item_view.category_id.nil? %></td>
                </tr>
                <tr>
                  <td width="25%"><strong>Synopsis</strong>:</td>
                  <td colspan="3"><%= playlist_item_view.album.synopsis %></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br/><br/>
        <% end %>
      </div>
    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->
</div>
<!--end of .row-->
</div>
<!--end of .container-->
