<%= render partial: 'layouts/audio_nav' %>

<div class="container">

  <div class="row">
    <div class="span12">
      <div id="bootstrap-flash">
        <%= bootstrap_flash %>
      </div>
    </div>
    <!--/span-->
    <div class="span12">
      <div id="missing-tracks-flash"></div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <div class="row">
    <div class="span3">
      <div class="content">
        <% if @album_playlist.user_id.present? %>
          <div class="info info-title">Programmer</div>
          <div class="info-list">
            <ul>
              <li class="info"><%= @album_playlist.user.login.titleize if !@album_playlist.user_id.nil? %>&nbsp;</li>
            </ul>
          </div>
          <br>
        <% end %>
        <div class="info info-title"><%= @album_playlist.client_playlist_code %> Information</div>
        <div class="info-list">
          <ul>
            <li class="info">In/Out: <%= @album_playlist.in_out %>
            <li class="info">Play Date From: <%= @album_playlist.start_playdate.strftime("%Y %B") %></li>
            <li class="info">Play Date To: <%= @album_playlist.end_playdate.strftime("%Y %B") %></li>
          </ul>
        </div>
        <br>

        <div class="info info-title">Tools</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= link_to "Print Playlist",
                          {controller: "album_playlists",
                           action: "print",
                           id: @album_playlist},
                          id: 'print_playlist',
                          target: '_blank' %>
            </li>
            <li class="info">
              <%= link_to "Export as Excel",
                          controller: "album_playlists",
                          action: "export_to_excel",
                          id: @album_playlist %>
            </li>
            <li class="info">
              <%= link_to "Edit Playlist",
                          {controller: "album_playlists",
                           action: "edit",
                           id: @album_playlist},
                          target: "_blank" %>
            </li>
          </ul>
        </div>
        <br>

        <div class="info info-title">
          Downloader
          <div class="downloader-loader pull-right" style="display: none;">
            <%= image_tag 'loading-indicator.gif',
                          id: 'loading-indicator',
                          class: 'transparent' %>
          </div>
        </div>
        <div class="info-list download-info">
          <ul>
            <li class="info create-link">
              <div class="download-info-inner">
                <%= link_to @album_playlist.finished? ? 'Recreate Playlist Zip' : 'Create Playlist Zip',
                            download_album_playlist_path(@album_playlist.id),
                            id: 'download_playlist_link' %>
              </div>
            </li>
            <li class="info download-link">
              <% if @album_playlist.finished? %>
                <div class="download-info-inner">
                  <%= link_to "Download Playlist Zip",
                              "#{current_user.current_login_ip == "182.19.135.7" ? Settings.nas_zip_url : Settings.nas_zip_url_remote}album_playlists/#{@album_playlist.id.to_s}.zip",
                              target: '_blank' %>
                </div>
              <% end %>
            </li>
            <li class="info delete-link">
              <% if @album_playlist.finished? %>
                <div class="download-info-inner">
                  <%= link_to 'Delete Playlist Zip',
                              delete_album_playlist_zip_path(@album_playlist.id),
                              id: 'delete_playlist_link' %>
                </div>
              <% end %>
            </li>
            <li class="info">
              <div class="message"></div>
            </li>
          </ul>
        </div>
        <br>

      </div>
      <!--end of .content-->
    </div>
    <!--end of .span-->

    <div class="span9">
      <div class="content">
        <div class="info info-title playlist-title">Playlist</div>
        <div id="playlist_item_view_container">
          <% @album_playlist.album_playlist_items_sorted.each.with_index do |item, index| %>
            <%= render partial: 'playlist_item_view', object: item, locals: {position: index + 1} %>
          <% end %>
        </div>

        <%= link_to 'Back',
                    album_playlists_path %>
      </div>
      <!--end of .content-->
    </div>
    <!--end of .span-->
  </div>
  <!--end of .row-->
</div>
<!--end of .container-->

<% content_for(:head) do %>
  <meta name="pdfkit-orientation" content="Landscape"/>
  <script>
    jQuery(document).ready(function () {
      jQuery('#print_playlist').click(function (event) {
        if (!confirm("ALERT! Please change your page layout to LANDSCAPE when printing")) {
          event.preventDefault();
        }
      });
    });
  </script>
<% end %>

<script type="text/javascript">
  var $ = jQuery;

  $(function () {
    $(document).on("click", "#download_playlist_link", function (e) {
      e.preventDefault();

      var $ = jQuery,
          $loader = $('.downloader-loader'),
          $message = $('.download-info .message');

      $loader.fadeToggle("fast");

      $message.html("<div class='download-info-inner'>Preparing tracks for download...</div>");

      $.ajax({
        url: '/download_album_playlist/<%= @album_playlist.id %>',
        type: 'get',
        dataType: 'script'
      });
    });
  });

  $(function () {
    $(document).on("click", "#delete_playlist_link", function (e) {
      e.preventDefault();

      var $ = jQuery,
          $loader = $('.downloader-loader'),
          $message = $('.download-info .message');

      $loader.fadeToggle("fast");

      $message.html("<div class='download-info-inner'>Attempting to delete zip...</div>");

      $.ajax({
        url: '/delete_album_playlist_zip/<%= @album_playlist.id %>',
        type: 'get',
        dataType: 'script'
      });
    });
  });
</script>