<%= minimal_form_for @master,
                     html: {class: 'form-vertical ajaxForm'} do |f| %>
  <div class="span9">
    <div class="content">
      <div class="tabbable">
        <ul class="nav nav-tabs pre-nav-below">
          <li>
            <%= link_to "Previous",
                        edit_master_path(@master.previous.id) if @master.previous.present? %>
          </li>
          <li>
            <%= link_to "Next",
                        edit_master_path(@master.next.id) if @master.next.present? %>
          </li>
          <% if permitted_to? :admin_delete,
                              :masters %>
            <li>
              <%= link_to 'Delete',
                          master_url(@master),
                          method: :delete,
                          confirm: 'Are you sure?' %>
            </li>
          <% end %>
        </ul>
      </div>

      <br>

      <div class="controls controls-row">
        <%= f.input_field :video_id,
                          as: :hidden %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @master.episode_title, 'Episode Title' %></div>
          <div class="input_field_label span3"><%= input_field_label @master.episode_number, 'Episode #' %></div>
        </div>
        <%= f.input_field :episode_title,
                          class: 'span3',
                          placeholder: 'Episode Title' %>

        <%= f.input_field :episode_number,
                          placeholder: 'Episode #',
                          class: 'span3' %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @master.aspect_ratio, 'Aspect ratio' %></div>
          <div class="input_field_label span3"><%= input_field_label @master.location, 'Tape location' %></div>
        </div>
        <%= f.input_field :aspect_ratio,
                          as: :select,
                          collection: %w(4:3 16:9 14:9),
                          include_blank: true,
                          placeholder: 'Aspect ratio',
                          class: 'select2 span3' %>
        <%= f.input_field :location,
                          placeholder: 'Tape location',
                          value: f.object.id.nil? ? @master_location : '',
                          class: 'span3' %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @master.tape_media, 'Tape Media' %></div>
          <div class="input_field_label span3"><%= input_field_label @master.tape_format, 'Tape Format' %></div>
          <div class="input_field_label span3"><%= input_field_label @master.tape_size, 'Tape Size' %></div>
        </div>
        <%= f.input_field :tape_media,
                          as: :select,
                          collection: Video::TAPE_MEDIA,
                          placeholder: 'Tape Media',
                          include_blank: true,
                          class: 'select2 span3' %>

        <%= f.input_field :tape_format,
                          as: :select,
                          collection: %w(PAL NTSC),
                          placeholder: 'Tape Format',
                          include_blank: true,
                          class: 'select2 span3' %>

        <%= f.input_field :tape_size,
                          as: :select,
                          collection: %w(Small Large DVD),
                          placeholder: 'Tape Size',
                          include_blank: true,
                          class: 'select2 span3' %>
      </div>

      <br/>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span2"><%= input_field_label @master.language_track_1, 'Lang Track 1' %></div>
          <div class="input_field_label span2"><%= input_field_label @master.language_track_2, 'Lang Track 2' %></div>
          <div class="input_field_label span2"><%= input_field_label @master.language_track_3, 'Lang Track 3' %></div>
          <div class="input_field_label span2"><%= input_field_label @master.language_track_4, 'Lang Track 4' %></div>
        </div>
        <%= f.input_field :language_track_1,
                          as: :select,
                          collection: @languages,
                          include_blank: true,
                          placeholder: 'Lang Track 1',
                          class: 'select2 span2' %>

        <%= f.input_field :language_track_2,
                          as: :select,
                          collection: @languages,
                          include_blank: true,
                          placeholder: 'Lang Track 2',
                          class: 'select2 span2' %>

        <%= f.input_field :language_track_3,
                          as: :select,
                          collection: @languages,
                          include_blank: true,
                          placeholder: 'Lang Track 3',
                          class: 'select2 span2' %>

        <%= f.input_field :language_track_4,
                          as: :select,
                          collection: @languages,
                          include_blank: true,
                          placeholder: 'Lang Track 4',
                          class: 'select2 span2' %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span2"><%= input_field_label @master.video_subtitles_1,
                                                                     'Video Subtitles 1' %></div>
          <div class="input_field_label span2"><%= input_field_label @master.video_subtitles_2,
                                                                     'Video Subtitles 2' %></div>
        </div>
        <%= f.input_field :video_subtitles_1,
                          as: :select,
                          collection: @languages,
                          include_blank: true,
                          placeholder: 'Video Subtitles 1',
                          class: 'select2 span2' %>

        <%= f.input_field :video_subtitles_2,
                          as: :select,
                          collection: @languages,
                          include_blank: true,
                          placeholder: 'Video Subtitles 2',
                          class: 'select2 span2' %>
      </div>

      <br/>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span9"><%= input_field_label @master.synopsis, 'Episode synopsis' %></div>
        </div>
        <%= f.input_field :synopsis,
                          placeholder: 'Episode synopsis',
                          class: 'span9',
                          rows: 6 %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @master.time_in, 'Time in' %></div>
          <div class="input_field_label span3"><%= input_field_label @master.time_out, 'Time out' %></div>
        </div>
        <%= f.input_field :time_in,
                          placeholder: 'Time in',
                          class: 'span3' %>

        <%= f.input_field :time_out,
                          placeholder: 'Time out',
                          class: 'span3' %>
        <duv class="span3">
          Duration: <%= f.object.duration %>
        </duv>
      </div>
      <br>

      <%= f.button :submit, class: 'btn' %>
    </div>
  </div>
<% end %>