<script type="text/javascript">
  jQuery.ajaxSetup({ 'beforeSend': function (xhr) {
    xhr.setRequestHeader("Accept",
        "text/javascript")
  } });

  jQuery.fn.submitWithAjax = function () {
    this.unbind('submit',
        false);
    this.submit(function () {
      jQuery.post(this.action,
          jQuery(this).serialize(),
          null,
          "script");
      return false;
    });

    return this;
  };

  //This will "ajaxify" the links
  function ajaxLinks() {
    jQuery('.ajaxForm').submitWithAjax();
  }

  jQuery(document).ready(function () {

    // All non-GET requests will add the authenticity token
    // if not already present in the data packet
    jQuery(document).ajaxSend(function (event, request, settings) {
      if (typeof(window.AUTH_TOKEN) == "undefined") return;
      // <acronym title="Internet Explorer 6">IE6</acronym> fix for http://dev.jquery.com/ticket/3155
      if (settings.type == 'GET' || settings.type == 'get') return;
      settings.data = settings.data || "";
      settings.data += (settings.data ? "&" : "") + "authenticity_token=" + encodeURIComponent(window.AUTH_TOKEN);
    });
    ajaxLinks();
  });
</script>

<%= minimal_form_for @master,
                     html: {class: 'form-vertical ajaxForm'} do |f| %>
  <div id="flash_notice"></div>

  <%= error_messages_for(f.object) %>

  <div class="controls controls-row">
    <%= f.input_field :video_id,
                      as: :hidden %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :episode_title,
                      class: 'span3 master_title',
                      placeholder: 'Episode Title' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :episode_number,
                      placeholder: 'Episode #',
                      class: 'span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :tape_media,
                      as: :select,
                      collection: Video::TAPE_MEDIA,
                      placeholder: 'Tape Media',
                      include_blank: false,
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :tape_format,
                      as: :select,
                      collection: %w(PAL NTSC),
                      placeholder: 'Tape Format',
                      include_blank: false,
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :tape_size,
                      as: :select,
                      collection: %w(Small Large DVD),
                      placeholder: 'Tape Size',
                      include_blank: true,
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :video_subtitles_1,
                      as: :select,
                      collection: @languages,
                      include_blank: true,
                      placeholder: 'Video Subtitles 1',
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :video_subtitles_2,
                      as: :select,
                      collection: @languages,
                      include_blank: true,
                      placeholder: 'Video Subtitles 2',
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :synopsis,
                      placeholder: 'Episode synopsis',
                      class: 'span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :language_track_1,
                      as: :select,
                      collection: @languages,
                      include_blank: true,
                      placeholder: 'Lang Track 1',
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :language_track_2,
                      as: :select,
                      collection: @languages,
                      include_blank: true,
                      placeholder: 'Lang Track 2',
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :language_track_3,
                      as: :select,
                      collection: @languages,
                      include_blank: true,
                      placeholder: 'Lang Track 3',
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :language_track_4,
                      as: :select,
                      collection: @languages,
                      include_blank: true,
                      placeholder: 'Lang Track 4',
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :aspect_ratio,
                      as: :select,
                      collection: %w(4:3 16:9 14:9),
                      include_blank: false,
                      placeholder: 'Aspect ratio',
                      class: 'select2 span3' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :location,
                      placeholder: 'Tape location',
                      class: 'span3' if !f.object.id.nil? %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :location,
                      placeholder: 'Tape location',
                      value: @master_location,
                      class: 'span3' if f.object.id.nil? %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :time_in,
                      placeholder: 'Time in',
                      class: 'span3 master_time' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :time_out,
                      placeholder: 'Time out',
                      class: 'span3 master_time' %>
  </div>

  <div class="controls controls-row">
    Duration: <%= f.object.duration %>
  </div>

  <%= f.button :submit, class: 'btn' %>

<% end %>