<tr id="label-row-<%= label.id %>">
  <td class="list-item"><%= label.id %></td>
  <td class="list-item"><%= label.name %></td>
  <td class="list-item">
    <%= link_to 'Edit',
                edit_label_path(label),
                class: 'btn btn-mini' %>
    <%= link_to 'Delete',
                label,
                confirm: 'Are you sure?',
                method: :delete,
                class: 'btn btn-mini' %>
  </td>
</tr>