<tr id="language-row-<%= language.id %>">
  <td class="list-item"><%= language.id %></td>
  <td class="list-item"><%= language.name %></td>
  <td class="list-item">
    <%= link_to 'Edit',
                edit_language_path(language),
                class: 'btn btn-mini' %>
    <%= link_to 'Delete',
                language,
                confirm: 'Are you sure?',
                method: :delete,
                class: 'btn btn-mini' %>
  </td>
</tr>