<script type="text/javascript">
  jQuery.ajaxSetup({ 'beforeSend': function (xhr) {
    xhr.setRequestHeader("Accept",
        "text/javascript")
  } })

  jQuery.fn.submitWithAjax = function () {
    this.unbind('submit',
        false);
    this.submit(function () {
      jQuery.post(this.action,
          jQuery(this).serialize(),
          null,
          "script");
      return false;
    })

    return this;
  };

  //This will "ajaxify" the links
  function ajaxLinks() {
    jQuery('.ajaxForm').submitWithAjax();
  }

  jQuery(document).ready(function () {

    // All non-GET requests will add the authenticity token
    // if not already present in the data packet
    jQuery(document).ajaxSend(function (event, request, settings) {
      if (typeof(window.AUTH_TOKEN) == "undefined") return;
      // <acronym title="Internet Explorer 6">IE6</acronym> fix for http://dev.jquery.com/ticket/3155
      if (settings.type == 'GET' || settings.type == 'get') return;
      settings.data = settings.data || "";
      settings.data += (settings.data ? "&" : "") + "authenticity_token=" + encodeURIComponent(window.AUTH_TOKEN);
    });
    ajaxLinks();
  });
</script>

<%= minimal_form_for(@screener,
                     html: {class: 'form-vertical ajaxForm'}) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div class='modal-header'>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title"><%= controller.action_name == 'new' ? 'Add' : 'Edit' %> screener</h3>
  </div>
  <div class='modal-body'>
    <div class="modal-body-content">
      <div id="screener_flash_notice"></div>

      <div class="controls controls-row">
        <%= f.input_field :video_id,
                          as: :hidden %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @screener.episode_title, 'Episode Title' %></div>
        </div>
        <%= f.input_field :episode_title,
                          class: 'screener_title',
                          placeholder: 'Episode Title',
                          class: 'span3' %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @screener.episode_number, 'Episode Number' %></div>
        </div>
        <%= f.input_field :episode_number,
                          placeholder: 'Episode Number',
                          class: 'span3' %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @screener.remarks, 'Remarks' %></div>
        </div>
        <%= f.input_field :remarks,
                          as: :select,
                          collection: ['VHS', 'B&W', 'Chinese Subs', 'Other'],
                          include_blank: true,
                          placeholder: 'Remarks',
                          class: 'select2 span3' %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @screener.remarks_other, 'Other' %></div>
        </div>
        <%= f.input_field :remarks_other,
                          placeholder: 'Other',
                          class: 'span3' %>
      </div>

      <div class="controls controls-row">
        <div class="row input_field_labels">
          <div class="input_field_label span3"><%= input_field_label @screener.location, 'Location' %></div>
        </div>
        <%= f.input_field :location,
                          as: :select,
                          collection: %w(SIN BJS HKG),
                          placeholder: 'Location',
                          class: 'select2 span3' %>
      </div>

    </div>
  </div>
  <div class='modal-footer'>
    <%= f.button :submit, class: 'btn', id: 'create_screener_hidden' %>
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
<% end %>