<% @selected_track = (params[:language]).nil? ? '' : params[:language][:track] %>
<% @selected_subtitle = (params[:language]).nil? ? '' : params[:language][:subtitle] %>

<%= search_form_for @search,
                    class: 'spinner-trigger' do |screeners| %>

  <div class="control-group">

    <div class="controls combinator-select-container">
      <%= screeners.combinator_select %>
    </div>

    <%= screeners.text_field :video_programme_title_cont,
                             placeholder: 'Video Title' %>


    <%= screeners.text_field :episode_title_cont,
                             placeholder: 'Episode Title' %>

    <div class="controls">
      <%= screeners.select :video_video_distributor_id_eq,
                           Supplier.video_distributors.collect { |p| [p.company_name,
                                                                      p.id] },
                           {include_blank: true},
                           {class: 'select2',
                            data: {placeholder: 'Distributor'}} %>
    </div>

    <div class="controls">
      <%= screeners.select :video_laboratory_id_eq,
                           Supplier.laboratories.collect { |p| [p.company_name,
                                                                p.id] },
                           {include_blank: true},
                           {class: 'select2',
                            data: {placeholder: 'Laboratory'}} %>
    </div>

    <div class="controls">
      <%= screeners.select :video_video_genres_video_parent_genre_id_eq,
                           VideoParentGenre.all
                           .collect { |p| [p.name,
                                           p.id] },
                           {include_blank: true},
                           {class: 'select2',
                            data: {placeholder: 'Genre'}} %>
    </div>

    <div class="controls">
      <%= screeners.select :video_video_genres_id_eq,
                           VideoGenre.all
                           .collect { |p| [p.name,
                                           p.id] },
                           {include_blank: true},
                           {class: 'select2',
                            data: {placeholder: 'Sub-genre'}} %>
    </div>

    <div class="controls">
      <%= screeners.select :video_video_type_eq,
                           Video::VIDEO_TYPES,
                           {include_blank: true},
                           {class: 'select2',
                            data: {placeholder: 'Video Type'}} %>
    </div>

    <%= screeners.text_field :video_production_year_eq,
                             data: {behaviour: 'datepicker-years'},
                             placeholder: 'Production Year' %>

    <%= screeners.text_field :video_screeners_location_eq,
                             placeholder: 'Tape Location Number' %>

    <%= screeners.text_field :video_id_eq,
                             placeholder: 'Video ID' %>

    <label class="checkbox">
      <%= check_box_tag :active, '1', params[:active].to_i == 1 %> Deactivated Screener
    </label>

    <br>

    <%= screeners.submit "Search",
                         {class: 'btn'} %>
    <input type="reset" value="Reset" class="btn">

  </div>
<% end %>
