<%= minimal_form_for @user,
                     remote: controller.action_name == 'index' ? true : false,
                     html: {id: "user_form"} do |f| %>

  <div class="controls controls-row">
    <%= f.input_field :login,
                      class: 'span12',
                      placeholder: 'Login' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :email,
                      class: 'span12',
                      placeholder: 'Email' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :password,
                      class: 'span12',
                      placeholder: 'Password' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :password_confirmation,
                      class: 'span12',
                      placeholder: 'Password Confirmation' %>
  </div>

  <div class="controls controls-row">
    <div class="select2-container-outer span12">
      <%= f.input_field :roles,
                        :as => :select,
                        :multiple => true,
                        :collection => Role.order('name'),
                        :placeholder => 'Roles',
                        :class => 'select2 span12' %>
    </div>
  </div>

  <% if controller.action_name == 'edit' %>
    <%= f.submit "Update #{controller_name.singularize.split('_').join(' ').titleize}",
                 class: 'btn' %>
  <% else %>
    <%= f.submit "Create #{indefinite_articlerize(controller_name.singularize.split('_').join(' ').titleize)}",
                 class: 'btn' %>
  <% end %>
<% end %>
