<% Master.where("video_id = #{video_id} AND active=true").order("location, episode_number").each do |master| %>
  <li class="poster-info">
    <%= master.episode_title %> (<%= master.episode_number %>, <%= master.location %>)<br>
    <%= link_to 'duplicate',
                duplicate_master_path(master),
                confirm: 'Are you sure?',
                method: :post %> |
    <%= link_to "edit",
                edit_master_path(master),
                class: 'edit_master' %> |
    <%= link_to 'delete',
                master_path(master),
                class: 'delete_master' %>
  </li>
<% end %>