<% Screener.where("video_id = #{video_id} AND active=true").order("location, episode_number").each do |screener| %>
  <li class="poster-info">
    <%= screener.episode_title %> (<%= screener.episode_number %>, <%= screener.location %>)<br>
    <%= link_to 'duplicate',
                duplicate_screener_path(screener),
                confirm: 'Are you sure?',
                method: :post %> |
    <%= link_to "edit",
                edit_screener_path(screener),
                class: 'edit_screener' %> |
    <%= link_to 'delete',
                screener_path(screener),
                class: 'delete_screener' %>
  </li>
<% end %>
