<%= render partial: 'layouts/movies_nav' %>

<div class="container">

<div class="row">
  <div class="span12">
    <%= bootstrap_flash %>
  </div>
  <!--/span-->
</div>
<!--/row-->

<div class="row">
<div class="span3">
  <div id="poster-thumbnail">
    <%= link_to(image_tag(@video.poster.url, class: 'poster-image'),
                @video.poster.url,
                target: "_blank") %>
    <div class="poster-title poster-info">
      <%= @video.programme_title %> (<%= @video.production_year %>)
      <% if @video.foreign_language_title.present? && @video.foreign_language_title != @video.programme_title %>
        <br>
        (<%= @video.foreign_language_title %>)
      <% end %>
    </div>
    <div class="poster-other poster-info">
      <% if @video.commercial_run_time.present? %>
        <%= @video.commercial_run_time.minutes %> minutes
      <% end %>
    </div>
  </div>
</div>
<!--/span-->

<div class="span6">
<div id="content">
  <% if @video.synopsis.present? || @video.chinese_synopsis.present? %>
    <div class="tabbable">
      <ul class="nav nav-tabs pre-nav-below">
        <% if @video.synopsis.present? %>
          <li class="<%= "active" if @video.synopsis.present? %>">
            <a href="#synopsis" data-toggle="tab">Synopsis</a>
          </li>
        <% end %>
        <% if @video.chinese_synopsis.present? %>
          <li class="<%= "active" if @video.synopsis.blank? && @video.chinese_synopsis.present? %>">
            <a href="#chinese_synopsis" data-toggle="tab">Chinese Synopsis</a>
          </li>
        <% end %>
        <% if @video.remarks.present? %>
          <li><a href="#remarks" data-toggle="tab">Remarks</a></li>
        <% end %>
        <% if @video.screeners.count > 0 %>
          <li><a href="#screeners" data-toggle="tab">Screeners</a></li>
        <% end %>
        <% if @video.masters.count > 0 %>
          <li><a href="#masters" data-toggle="tab">Masters</a></li>
        <% end %>
      </ul>
    </div>
    <div class="tabbable tabs-below">
      <ul class="nav nav-tabs pull-right">
        <li>
          <%= link_to 'Previous',
                      video_path(@video.previous) if @video.previous.present? %>
        </li>
        <li>
          <%= link_to 'Next',
                      video_path(@video.next) if @video.next.present? %>
        </li>
        <li>
          <%= link_to 'Edit Video',
                      edit_video_path(@video) if permitted_to? :edit,
                                                               :videos %>
        </li>
        <li>
          <%= link_to 'New Video',
                      new_video_path %>
        </li>
      </ul>
    </div>
    <div class="tabbable">
      <div class="tab-content">
        <% if @video.synopsis.present? %>
          <div class="tab-pane fade active in" id="synopsis">
            <p><%= simple_format(@video.synopsis) %></p>
          </div>
        <% end %>
        <% if @video.chinese_synopsis.present? %>
          <div class="tab-pane fade" id="chinese_synopsis">
            <p><%= simple_format(@video.chinese_synopsis) %></p>
          </div>
        <% end %>
        <% if @video.remarks.present? %>
          <div class="tab-pane fade" id="remarks">
            <p><%= simple_format(@video.remarks) %></p>
          </div>
        <% end %>
        <% if @video.screeners.count > 0 %>
          <div class="tab-pane fade" id="screeners">
            <div class="poster-list">
              <ul>
                <% for screener in @video.screeners %>
                  <li class="poster-info">Episode Title:</strong> <%= screener.episode_title %></li>
                  <li class="poster-info">Episode Number:</strong> <%= screener.episode_number %></li>
                  <li class="poster-info">Location:</strong> <%= screener.location %></li>
                  <li class="poster-info">Screener Remarks:</strong> <%= screener.remarks %></li>
                  <li class="poster-info">Other:</strong> <%= screener.remarks_other %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <% if @video.masters.count > 0 %>
          <div class="tab-pane fade" id="masters">
            <div class="poster-list">
              <ul>
                <% for master in @video.masters %>
                  <li class="poster-info">Episode Title: <%= master.episode_title %></li>
                  <li class="poster-info">Episode #: <%= master.episode_number %></li>
                  <li class="poster-info">Tape Media: <%= master.tape_media %></li>
                  <li class="poster-info">Tape Format: <%= master.tape_format %></li>
                  <li class="poster-info">Tape Size: <%= master.tape_size %></li>
                  <li class="poster-info">Video Subtitles 1: <%= master.video_subtitles_1 %></li>
                  <li class="poster-info">Video Subtitles 2: <%= master.video_subtitles_2 %></li>
                  <li class="poster-info">Episode Synopsis: <%= master.synopsis %></li>
                  <li class="poster-info">Lang Track 1: <%= master.language_track_1 %></li>
                  <li class="poster-info">Lang Track 2: <%= master.language_track_2 %></li>
                  <li class="poster-info">Lang Track 3: <%= master.language_track_3 %></li>
                  <li class="poster-info">Lang Track 4: <%= master.language_track_4 %></li>
                  <li class="poster-info">Aspect Ratio: <%= master.aspect_ratio %></li>
                  <li class="poster-info">Tape Location: <%= master.location %></li>
                  <li class="poster-info">Time In: <%= master.time_in %></li>
                  <li class="poster-info">Time Out: <%= master.time_out %></li>
                  <li class="poster-info">Duration: <%= master.duration %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="tabbable">
      <ul class="nav nav-tabs pre-nav-below">
        <li>
          <%= link_to 'Previous',
                      video_path(@video.previous) if @video.previous.present? %>
        </li>
        <li>
          <%= link_to 'Next',
                      video_path(@video.next) if @video.next.present? %>
        </li>
        <li>
          <%= link_to 'Edit Video',
                      edit_video_path(@video) if permitted_to? :edit,
                                                               :videos %>
        </li>
        <li>
          <%= link_to 'New Video',
                      new_video_path %>
        </li>
      </ul>
    </div>
  <% end %>
  </div>
  <!--/content-->
</div>
<!--/span-->

<div class="span3">
  <div class="content">
    <% if @video.chinese_programme_title.present? && @video.chinese_programme_title != @video.programme_title %>
      <div class="info info-title">Chinese Information</div>
      <div class="info-list">
        <ul>
          <li class="info">Title: <%= @video.chinese_programme_title %></li>
        </ul>
      </div>
      <br>
    <% end %>
    <div class="info info-title">Technical Information</div>
    <div class="info-list">
      <ul>
        <% if @video.video_type.present? %>
          <li class="info">Video Type: <%= @video.video_type %></li>
        <% end %>
        <% if @video.video_distributor.present? %>
          <li class="info">Distributor: <%= @video.video_distributor.company_name %></li>
        <% end %>
        <% if @video.production_studio.present? %>
          <li class="info">Production Studio: <%= @video.production_studio.company_name %></li>
        <% end %>
        <% if @video.laboratory.present? %>
          <li class="info">Laboratory: <%= @video.laboratory.company_name %></li>
        <% end %>
        <% if @video.production_year.present? %>
          <li class="info">Production Year: <%= @video.production_year %></li>
        <% end %>
        <% if @video.commercial_run_time.present? %>
          <li class="info">Commercial Run Time: <%= @video.commercial_run_time.minutes %></li>
        <% end %>
        <% if @video.episodes_available.present? %>
          <li class="info">Number of Episodes Available: <%= @video.episodes_available %></li>
        <% end %>
        <li class="info">On Going Series: <%= @video.on_going_series ? 'yes' : 'no' %></li>
        <% if @video.video_genres.present? %>
          <li class="info">Genres: <%= @video.video_genres.collect { |genre| genre.name }.join(', ') %></li>
        <% end %>
        <% if @video.language_tracks.present? %>
          <li class="info">Language Tracks: <%= @video.language_tracks.collect { |r| r }.to_sentence %></li>
        <% end %>
        <% if @video.language_subtitles.present? %>
          <li class="info">Language Subtitles: <%= @video.language_subtitles.collect { |r| r }.to_sentence %></li>
        <% end %>
      </ul>
    </div>
    <br>

    <div class="info info-title">Tools</div>
    <div class="info-list">
      <ul>
        <li class="info">
          <%= link_to("Search Box Office Mojo",
                      "http://www.boxofficemojo.com/search/?q=" + @video.programme_title.to_s,
                      target: "_blank") %>
        </li>
        <li class="info">
          <%= link_to("Search Yahoo Videos",
                      "http://videos.yahoo.com/mv/search?fr=ush-videos&toggle=1&cop=&ei=UTF-8&p=" + @video.programme_title.to_s,
                      target: "_blank") %>
        </li>
        <li class="info">
          <%= link_to("Search Rotten Tomatoes",
                      "http://www.rottentomatoes.com/search/full_search.php?search=" + @video.programme_title.to_s,
                      target: "_blank") %>
        </li>
        <li class="info">
          <%= link_to("Search IMDB",
                      "http://www.imdb.com/find?s=all&q=" + @video.programme_title.to_s,
                      target: "_blank") %>
        </li>
      </ul>
    </div>
  </div>
  <!--/content-->
</div>
<!--/span-->
</div>
<!--/row-->
</div>
<!-- /container -->