<%= minimal_form_for @audio_playlist,
                     html: {class: 'form-vertical', multipart: true} do |f| %>

  <div class="span3">
    <div class="content">
      <% if @audio_playlist.user_id.present? %>
        <div class="info info-title">Programmer</div>
        <div class="info-list">
          <ul>
            <li class="info"><%= @audio_playlist.user.login.titleize if !@audio_playlist.user_id.nil? %>&nbsp;</li>
          </ul>
        </div>
        <br>
      <% end %>
      <% if controller.action_name != 'new' %>
        <div class="info info-title">Tools</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= link_to "Print Playlist",
                          {controller: "audio_playlists",
                           action: "show",
                           id: @audio_playlist},
                          id: 'print_playlist',
                          target: '_blank' %>
            </li>
            <li class="info">
              <%= link_to "Download English PDF",
                          {controller: "audio_playlists",
                           action: "show",
                           id: @audio_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Download Chinese PDF",
                          {controller: "audio_playlists",
                           action: "show_chinese",
                           id: @audio_playlist,
                           format: "pdf"},
                          target: "_blank" %>
            </li>
            <li class="info">
              <%= link_to "Export as Excel",
                          controller: "audio_playlists",
                          action: "export_to_excel",
                          id: @audio_playlist %>
            </li>
            <% if @audio_playlist.thales_schema_package_file_name.present? %>
              <li class="info">
                <%= link_to "Download Thales Schema Package",
                            controller: "audio_playlists",
                            action: "download_thales_schema_package",
                            id: @audio_playlist %>
              </li>
            <% end %>
          </ul>
        </div>
        <br>
      <% end %>
      <% permitted_to? :download_thales_schema_package, :audio_playlists do %>
        <div class="info info-title">Thales Schema Package</div>
        <div class="info-list">
          <ul>
            <% if @audio_playlist.thales_schema_package_file_name.present? %>
              <li class="info"><%= @audio_playlist.thales_schema_package_file_name %></li>
            <% end %>
            <li class="info">
              <%= render partial: 'application/bootstrap_file_field',
                         locals: {f: f,
                                  field: :thales_schema_package,
                                  hidden_id: 'thales_schema_package',
                                  input_id: 'thales_schema_package_input',
                                  span: 'span2',
                                  placeholder: 'Thales Schema Package'} %>
            </li>
          </ul>
        </div>
        <br>
      <% end %>
    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->

  <div class="span6">
    <div class="content">
      <% if controller.action_name != 'new' %>
        <div class="tabbable">
          <ul class="nav nav-tabs pre-nav-below">
            <li>
              <%= link_to "Previous",
                          edit_audio_playlist_path(@audio_playlist.previous.id) if @audio_playlist.previous.present? %>
            </li>
            <li>
              <%= link_to "Next",
                          edit_audio_playlist_path(@audio_playlist.next.id) if @audio_playlist.next.present? %>
            </li>
            <li>
              <%= link_to 'View Audio Playlist',
                          audio_playlist_path(@audio_playlist) %>
            </li>
            <li>
              <%= link_to "New Audio Playlist",
                          new_audio_playlist_path %>
            </li>
            <% if permitted_to? :admin_delete,
                                :audio_playlists %>
              <li>
                <%= link_to 'Delete',
                            audio_playlist_url(@audio_playlist),
                            method: :delete,
                            confirm: 'Are you sure?' %>
              </li>
            <% end %>
          </ul>
        </div>

        <br>

      <% end %>

      <div class="controls controls-row">
        <%= f.input_field :client_playlist_code,
                          placeholder: 'Client Playlist Code',
                          class: 'span3' %>
      </div>

      <div class="controls controls-row">
        Airline:
        <%= select("audio_playlist",
                   "airline_id",
                   Airline.order("code asc")
                   .collect { |p| [p.code + " - " + p.name,
                                   p.id] },
                   {include_blank: true}) %>
        <%= link_to "+",
                    airlines_path,
                    id: "add",
                    target: "_blank" %>
      </div>

      <div class="controls controls-row">
        Programmer:
        <%= @audio_playlist.user.login.titleize if !@audio_playlist.user_id.nil? %>
      </div>

      <div class="controls controls-row">
        Programme:
        <%= select("audio_playlist",
                   "program_id",
                   Program.order("name asc")
                   .collect { |p| [p.name,
                                   p.id] },
                   {include_blank: true}) %>
        <%= link_to "+",
                    programs_path,
                    id: "add",
                    target: "_blank" %>
      </div>

      <div class="controls controls-row">
        IN/OUT:
        <%= select("audio_playlist",
                   "in_out",
                   in_out,
                   {include_blank: true}) %>
      </div>

      <div class="controls controls-row">
        VO:
        <%= select("audio_playlist",
                   "vo_id",
                   Vo.order("name asc").collect { |p| [p.name,
                                                       p.id] },
                   {include_blank: true}) %>
        <%= link_to "+",
                    vos_path,
                    id: "add",
                    target: "_blank" %>
      </div>

      <div class="controls controls-row">
        Play Date:
        <%= form.date_select :start_playdate,
                             discard_day: true,
                             order: [:month,
                                     :year] %>
      </div>

      <div class="controls controls-row">
        to

        <%= form.date_select :end_playdate,
                             discard_day: true,
                             order: [:month,
                                     :year] %>
      </div>

      <div class="controls controls-row">
        Airline Duration:
        <%= select("audio_playlist",
                   "airline_duration",
                   Split.order(:duration)
                   .collect { |p| [p.name,
                                   p.duration] },
                   {include_blank: true}) %>
      </div>

      <div class="controls controls-row">
        Total Duration:
        <%= render partial: 'duration',
                   object: @audio_playlist %>
      </div>

      <div class="controls controls-row">
        Splits:
        <%= render partial: 'splits',
                   object: @audio_playlist %>
        <%= link_to "View Splits",
                    :view_splits,
                    target: "_blank" %>
      </div>


      <br>

      <%= f.button :submit, class: 'btn' %>

      <% if controller.action_name != 'new' %>

        <br><br>
        <!-- Button to trigger modal -->
        <%= link_to 'Add Track',
                    add_track_audio_playlist_path(id: @audio_playlist.id),
                    id: 'add_track_to_playlist',
                    class: 'btn',
                    role: 'btn',
                    data: {toggle: 'modal', target: '#ajax-modal'} %>
        <br><br>
      <% end %>

    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->
<% end %>

<% if controller.action_name != 'new' %>
  <%= content_for :playlist do %>
    <div class="info info-title">Playlist</div>
    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @audio_playlist %>
    </div>
  <% end %>

  <%= content_for :modal do %>
    <%= render 'modal' %>
  <% end %>

  <% content_for(:head) do %>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <script>
      jQuery(document).ready(function () {
        jQuery('#print_playlist').click(function (event) {
          if (!confirm("ALERT! Please change your page layout to LANDSCAPE when printing")) {
            event.preventDefault();
          }
        });
      });
    </script>
  <% end %>

  <script type="text/javascript">

    var $ = jQuery;

    // this sets up the ajax loader, and it will stay until the method specific js removes it
    $('a[data-target=#ajax-modal]').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      $('body').modalmanager('loading');
      $.rails.handleRemote($(this));
    });

    // removes whatever is in the modal body content div upon clicking close/outside modal
    $(document).on('click', '[data-dismiss=modal], .modal-scrollable', function (e) {
      $('.modal-body-content').empty();
    });

    $(document).on('click', '#ajax-modal', function (e) {
      e.stopPropagation();
    });

  </script>
<% end %>
