<%= minimal_form_for @audio_playlist,
                     html: {class: 'form-vertical', multipart: true} do |f| %>

  <div class="span3">
    <div class="content">
      <% if @audio_playlist.user_id.present? %>
        <div class="info info-title">Programmer</div>
        <div class="info-list">
          <ul>
            <li class="info"><%= @audio_playlist.user.login.titleize if !@audio_playlist.user_id.nil? %>&nbsp;</li>
          </ul>
        </div>
        <br>
      <% end %>
      <% if controller.action_name != 'new' %>
        <div class="info info-title">Tools</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <%= link_to "Print Playlist",
                          {controller: "audio_playlists",
                           action: "show",
                           id: @audio_playlist},
                          id: 'print_playlist',
                          target: '_blank' %>
            </li>
            <li class="info">
              <%= link_to "Export as Excel",
                          controller: "audio_playlists",
                          action: "export_to_excel",
                          id: @audio_playlist %>
            </li>
          </ul>
        </div>
        <br>

        <div class="info info-title">Audio Player</div>
        <div class="info-list">
          <ul>
            <li class="info">
              <audio controls>
                <source src="" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </li>
          </ul>
        </div>
        <br>
      <% end %>
    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->

  <div class="span6">
    <div class="content">
      <% if controller.action_name != 'new' %>
        <div class="tabbable">
          <ul class="nav nav-tabs pre-nav-below">
            <li>
              <%= link_to "Previous",
                          edit_audio_playlist_path(@audio_playlist.previous.id) if @audio_playlist.previous.present? %>
            </li>
            <li>
              <%= link_to "Next",
                          edit_audio_playlist_path(@audio_playlist.next.id) if @audio_playlist.next.present? %>
            </li>
            <li>
              <%= link_to 'View Audio Playlist',
                          audio_playlist_path(@audio_playlist) %>
            </li>
            <li>
              <%= link_to "New Audio Playlist",
                          new_audio_playlist_path %>
            </li>
            <% if permitted_to? :admin_delete,
                                :audio_playlists %>
              <li>
                <%= link_to 'Delete',
                            audio_playlist_url(@audio_playlist),
                            method: :delete,
                            confirm: 'Are you sure?' %>
              </li>
            <% end %>
          </ul>
        </div>

        <br>

      <% end %>

      <div class="controls controls-row">
        <%= f.input_field :client_playlist_code,
                          placeholder: 'Client Playlist Code',
                          class: 'span3' %>

        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :airline_id,
                            link_path: airlines_path,
                            collection: Airline.order("code asc").collect { |p| [p.code + " - " + p.name, p.id] },
                            placeholder: 'Airline',
                            span: 'span3'} %>
      </div>

      <div class="controls controls-row">
        <%= render partial: 'application/bootstrap_append_datepicker',
                   locals: {f: f,
                            field: :start_playdate,
                            value: @audio_playlist.start_playdate,
                            input_id: 'start_playdate_datepicker',
                            date_format: 'mm/yyyy',
                            date_viewmode: 'months',
                            date_minviewmode: 'months',
                            datepicker_behaviour: 'datepicker-months',
                            placeholder: 'Play Date Start',
                            span: 'span3'} %>

        <%= render partial: 'application/bootstrap_append_datepicker',
                   locals: {f: f,
                            field: :end_playdate,
                            value: @audio_playlist.end_playdate,
                            input_id: 'end_playdate_datepicker',
                            date_format: 'mm/yyyy',
                            date_viewmode: 'months',
                            date_minviewmode: 'months',
                            datepicker_behaviour: 'datepicker-months',
                            placeholder: 'Play Date End',
                            span: 'span3'} %>
      </div>

      <div class="controls controls-row">
        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :program_id,
                            link_path: programs_path,
                            collection: Program.order("name asc").collect { |p| [p.name, p.id] },
                            placeholder: 'Programme',
                            span: 'span3'} %>

        <%= render partial: 'application/bootstrap_prepend_select',
                   locals: {f: f,
                            field: :vo_id,
                            link_path: vos_path,
                            collection: Vo.order("name asc").collect { |p| [p.name, p.id] },
                            placeholder: 'VO',
                            span: 'span3'} %>
      </div>

      <div class="controls controls-row">
        <%= f.input_field :in_out,
                          as: :select,
                          collection: in_out,
                          include_blank: true,
                          class: 'select2 span3',
                          placeholder: 'In/Out' %>

        <%= f.input_field :airline_duration,
                          as: :select,
                          collection: Split.order(:duration).collect { |p| [p.name, p.duration] },
                          include_blank: true,
                          class: 'select2 span3',
                          placeholder: 'Airline Duration' %>
      </div>

      <div class="controls controls-row">
        <% if controller.action_name != 'new' %>
          <%= render partial: 'duration',
                     object: @audio_playlist %>
        <% end %>
        <%= f.button :submit, class: 'btn span3' %>
      </div>

      <br>

      <% if controller.action_name != 'new' %>
        <!-- Button to trigger modal -->
        <%= link_to 'Add Track',
                    add_track_to_playlist_path(id: @audio_playlist.id),
                    id: 'add_track_to_playlist_hidden',
                    class: 'btn hidden-input',
                    role: 'btn',
                    data: {toggle: 'modal', target: '#ajax-modal'} %>
      <% end %>

      <br><br>

    </div>
    <!--end of .content-->
  </div>
  <!--end of .span-->
<% end %>

<% if controller.action_name != 'new' %>
  <%= content_for :playlist do %>
    <div class="info info-title">
      Playlist
      <div class="btn-group pull-right" id="table-column-select">
        <!-- Button to trigger modal -->
        <button id="add_track_to_playlist" type="button" class="btn btn-mini btn-info" onclick="$('#add_track_to_playlist_hidden').click();">Add
          Track
        </button>
        <a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#">
          Select Columns
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% @columns.each.with_index do |column, index| %>
            <li><%= check_box_tag column,
                                  column,
                                  session[:audio_playlist_checked].present? ? session[:audio_playlist_checked][index] == 'true' : true %> <%= column %></li>
          <% end %>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @audio_playlist %>
    </div>
    <div class="download-info">
      <div class="links">
        <%= link_to 'Create Playlist Zip',
                    download_audio_playlist_path(@audio_playlist.id),
                    id: 'download_playlist_link' %>
        <% if @audio_playlist.finished? %>
          | <%= link_to "Download Playlist Zip", @audio_playlist.audio_playlist_zip.url %>
        <% end %>
      </div>
      <div class="progress-bar" style="width:0%;"></div>
      <div class="message"></div>
      <div class="progress"></div>
    </div>
  <% end %>

  <%= content_for :modal do %>
    <%= render 'modal' %>
  <% end %>

  <% content_for(:head) do %>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <script>
      jQuery(document).ready(function () {
        jQuery('#print_playlist').click(function (event) {
          if (!confirm("ALERT! Please change your page layout to LANDSCAPE when printing")) {
            event.preventDefault();
          }
        });
      });
    </script>
  <% end %>

  <script type="text/javascript">

    var $ = jQuery;

    // this sets up the ajax loader, and it will stay until the method specific js removes it
    $('a[data-target=#ajax-modal]').on('click', function (e) {
      e.preventDefault();
      e.stopPropagation();
      $('body').modalmanager('loading');
      $.rails.handleRemote($(this));
    });

    // removes whatever is in the modal body content div upon clicking close/outside modal
    $(document).on('click', '[data-dismiss=modal], .modal-scrollable', function (e) {
      $('.modal-body-content').empty();
    });

    $(document).on('click', '#ajax-modal', function (e) {
      e.stopPropagation();
    });

    // Table column select
    $(document)
        .on('click', '#table-column-select ul li input', function (e) {
          e.stopPropagation();
        })
        .on('change', '#table-column-select ul li input', function (e) {

          var checked = $(this).is(":checked");

          var index = $(this).parent().index();

          if (checked) {
            $('#playlist table thead th').eq(index).show();
          } else {
            $('#playlist table thead th').eq(index).hide();
          }

          $('#playlist table tbody tr').each(function () {
            if (checked) {
              $(this).find("td").eq(index).show();
            } else {
              $(this).find("td").eq(index).hide();
            }
          });

          var checkedVals = $('#table-column-select ul li input').map(function () {
            return $(this).prop('checked');
          }).get();

          console.log(checkedVals);

          $.ajax({
            url: '/audio_playlists/table_column_select',
            type: 'post',
            data: { checked: checkedVals }
          });
        });

  </script>
<% end %>
