<% @track = playlist_track_view.track %>
<% @audio_playlist_track = playlist_track_view %>
<% if playlist_track_view.track.nil? %>
  Missing Track <%= playlist_track_view.track_id %>
<% else %>
  <div class="row">
    <div class="span9">
      <table class="playlist table table-condensed">
        <tbody>
        <tr>
          <td width="25%"><strong>(<%= position %>) Track Title:</strong></td>
          <td width="25%"><%= playlist_track_view.track.title_original %></td>
          <td width="25%"><strong>Track Title (Translated)</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.title_english %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Artist</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.artist_original %></td>
          <td width="25%"><strong>Composer</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.composer %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Track Num</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.track_num %></td>
          <td width="25%"><strong>Origin</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.origin.name if (!playlist_track_view.track.origin_id.nil? && playlist_track_view.track.origin_id!=0) %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Label</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.album.label.name if !playlist_track_view.track.album.label_id.nil? %></td>
          <td width="25%"><strong>CD Code:</strong></td>
          <td width="25%"><%= playlist_track_view.track.album.cd_code %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Genre</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.genre %></td>
          <td width="25%"><strong>Split (min)</strong>:</td>
          <td width="25%"><%= playlist_track_view.split %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Tempo:</strong></td>
          <td width="25%"><%= playlist_track_view.track.tempo %></td>
          <td width="25%"><strong>Duration</strong>:</td>
          <td width="25%"><%= duration(playlist_track_view.track.duration) %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Intro Tempo</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.tempo_intro %></td>
          <td width="25%"><strong>Outro Tempo</strong>:</td>
          <td width="25%"><%= playlist_track_view.track.tempo_outro %></td>
        </tr>

        <%
           if playlist_track_view.vo_duration.nil?
             vo_duration=0
           else
             vo_duration = playlist_track_view.vo_duration.to_i
           end
        %>

        <tr>
          <td width="25%"><strong>VO Duration (sec)</strong>:</td>
          <td width="25%"><%= playlist_track_view.vo_duration %></td>
          <td width="25%"><strong>Accumulated Duration</strong>:</td>
          <td width="25%"><%= duration(@accum_duration + playlist_track_view.track.duration + (vo_duration*1000)) %></td>
        </tr>
        <tr>
          <td width="25%"><strong>Mastering</strong>:</td>
          <td colspan="3"><%= playlist_track_view.mastering %></td>
        </tr>

        <%

           if !playlist_track_view.split.nil? && playlist_track_view.split!=0 && playlist_track_view.split!=""
             @accum_duration = 0
           else
             @accum_duration += playlist_track_view.track.duration + (vo_duration*1000)
           end
        %>

        </tbody>
      </table>
    </div>
  </div>
  <br/><br/>
<% end %>