<%= search_form_for @search,
                    builder: MinimalNestedFormBuilder,
                    url: add_track_to_playlist_path(id: @audio_playlist.id),
                    remote: true,
                    id: 'track_search_form' do |tracks| %>

  <div class="controls controls-row">
    <%= tracks.input_field :title_original_cont,
                           class: 'span12',
                           placeholder: 'Title Original' %>
  </div>

  <div class="controls controls-row">
    <%= tracks.input_field :artist_original_cont,
                           class: 'span12',
                           placeholder: 'Artist Original' %>
  </div>

  <br>

  <div class="controls controls-row">
    Duration from:
  </div>

  <div class="controls controls-row">
    <%= text_field_tag 'dur_min_min',
                       params[:dur_min_min],
                       class: 'span6',
                       placeholder: 'Minutes' %>
    <%= text_field_tag 'dur_min_sec',
                       params[:dur_min_sec],
                       class: 'span6',
                       placeholder: 'Seconds' %>
  </div>

  <div class="controls controls-row">
    Duration to:
  </div>

  <div class="controls controls-row">
    <%= text_field_tag 'dur_max_min',
                       params[:dur_max_min],
                       class: 'span6',
                       placeholder: 'Minutes' %>
    <%= text_field_tag 'dur_max_sec',
                       params[:dur_max_sec],
                       class: 'span6',
                       placeholder: 'Seconds' %>
  </div>

  <br>

  <div class="controls controls-row">
    <%= tracks.input_field :title_english_cont,
                           class: 'span12',
                           placeholder: 'Title (Translated)' %>
  </div>

  <div class="controls controls-row">
    <%= tracks.input_field :artist_english_cont,
                           class: 'span12',
                           placeholder: 'Artist (Translated)' %>
  </div>

  <div class="controls controls-row">
    <%= tracks.input_field :album_label_id_eq,
                           collection: Label.connection.execute(Label.select('name, id').to_sql).to_a,
                           include_blank: true,
                           class: 'select2 span12',
                           placeholder: 'Label' %>
  </div>

  <div class="controls controls-row">
    <%= tracks.input_field :album_cd_code_cont,
                           class: 'span12',
                           placeholder: 'CD Code' %>
  </div>

  <div class="controls controls-row">
    <label class="checkbox">
      <%= tracks.check_box :to_delete_eq %> Pending Delete
    </label>
  </div>

  <br>

  <div class="controls controls-row">
    <%= tracks.submit 'Search', class: 'btn', data: {remote: true} %>
    <input class="form-reset btn" type="reset" value="Reset">
    <br><br>
  </div>
<% end %>
