<% if @tracks_count > 0 %>
  <%= form_tag url_for(controller: "audio_playlists",
                       action: "add_multiple_tracks"),
               id: "multiple_tracks",
               remote: true do %>
    <%= hidden_field_tag 'playlist_id',
                         params[:id] %>
    <%= submit_tag 'Add Selected to Playlist',
                   id: 'add_selected_hidden',
                   style: 'display: none;' %>
    <table class="table" id="no-more-tables">
      <thead>
      <tr>
        <th>
          <%= sort_link @search,
                        :audio_playlists_id,
                        'id',
                        {},
                        {remote: true} %>
        </th>
        <th>(#)
          <%= sort_link @search, :audio_playlists_title_original,
                        'Original Title',
                        {},
                        {remote: true} %>
        </th>
        <th>
          <%= sort_link @search, :audio_playlists_artist_original,
                        'Original Artist',
                        {},
                        {remote: true} %>
        </th>
        <th>Label</th>
        <th>CD Code</th>
        <th>
          <%= sort_link @search, :audio_playlists_duration,
                        'Duration',
                        {},
                        {remote: true} %>
        </th>
        <th>Explicit Lyrics</th>
        <th>&nbsp;</th>
        <th>
          <%= check_box_tag('check_all',
                            'check_all',
                            false) %>
        </th>
      </tr>
      </thead>

      <tbody>
      <% @tracks.each do |track| %>
        <tr class="playlist-entry">
          <td data-title="ID">
            <%= link_to track.id,
                        track_path(id: track.id),
                        target: "_blank" %>&nbsp;
          </td>
          <td data-title="(#) Title">(<%= track.track_num %>)
            <%= track.title_original %>
            <br/><%= track.title_english %>&nbsp;</td>
          <td data-title="Artist"><%= track.artist_original %>
            <br/><%= track.artist_english %>&nbsp;</td>
          <td data-title="Label"><%= track.label_cached if !track.album.label_id.nil? %>&nbsp;</td>
          <td data-title="CD Code"><%= track.album.cd_code %>&nbsp;</td>
          <td data-title="Duration"><%= duration(track.duration) %>&nbsp;</td>
          <td data-title="Explicit Lyrics">
            <%= track.explicit_lyrics? ? "✓" : "✗" %>&nbsp;
          <td>
            <%= link_to "add to playlist",
                        add_track_audio_playlist_path(@audio_playlist, track_id: track.id),
                        method: :post,
                        remote: true,
                        class: 'spinner-trigger' %>
          </td>
          <td data-title="Select">
            <%= check_box_tag "track_ids[]",
                              track.id %>&nbsp;
          </td>
        </tr>
        </tbody>
      <% end %>

      </table>
  <% end %>

  <br/>
  <br/>

  <%= will_paginate @tracks,
                    inner_window: 1,
                    renderer: BootstrapPagination::Rails,
                    class: 'pagination pagination-small' %>
  <%
     def items_per_page_select(collection = Tracks)
       select_tag :per_page, options_for_select([10, 20, 50, 100, 300], collection.per_page),
                  class: 'items_per_page_select_menu'
     end
  %>
  <%= form_for '/tracks', method: :get, html: {class: 'items_per_page_select'}, remote: true do |f| %>
    <span>Items per page: </span>
    <%= items_per_page_select @tracks %>
    <%= f.submit "Submit",
                 class: 'btn btn-small' %>
    <br>
    <br>
    <%= @tracks_count %> tracks found
    <br>
  <% end %>

<% else %>
  No tracks were returned
<% end %>

<script>

  var $ = jQuery;

  $(document).ready(function () {

    $('#check_all').click(function () {
      if (this.checked) {
        $('.playlist-entry').find(':checkbox').each(function () {
          this.checked = true;
        });
      } else {
        $('.playlist-entry').find(':checkbox').each(function () {
          this.checked = false;
        });
      }
    });

  });

</script>
