<%= render partial: 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="well" id="dashboard-well">
        <% if permitted_to? :edit,
                            :airlines %>
          <%= link_to 'Airlines',
                      airlines_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :programs %>
          <%= link_to 'Programs',
                      programs_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :album_categories %>
          <%= link_to 'Album Categories',
                      album_categories_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :genres %>
          <%= link_to 'Genres',
                      genres_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :labels %>
          <%= link_to 'Record Labels',
                      labels_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :publishers %>
          <%= link_to 'Publishers',
                      publishers_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :languages %>
          <%= link_to 'Languages',
                      languages_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :origins %>
          <%= link_to 'Origins',
                      origins_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :categories %>
          <%= link_to 'Categories',
                      categories_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if permitted_to? :edit,
                            :vos %>
          <%= link_to 'VOs',
                      vos_path,
                      class: 'btn btn-large btn-block btn-inverse' %>
        <% end %>
        <% if has_role? :administrator %>
          <% if permitted_to? :edit,
                              :splits %>
            <%= link_to 'Splits',
                        splits_path,
                        class: 'btn btn-large btn-block btn-inverse' %>
          <% end %>
          <% if permitted_to? :edit,
                              :vo_durations %>
            <%= link_to 'VO Durations',
                        vo_durations_path,
                        class: 'btn btn-large btn-block btn-inverse' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div> <!-- /container -->
