<%= render partial: 'layouts/audio_nav' %>


<div class="container">

  <div class="row">
    <div class="span12">
      <div id="bootstrap-flash">
        <%= bootstrap_flash %>
      </div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <div class="row">
    <div class="span3" id="search_form">
      <div class="info info-title">Search MusicBrainz</div>
      <br>
      <%= form_tag find_artist_path,
                   remote: true,
                   id: 'import_album_form' do %>

        <div class="controls controls-row">
          <%= text_field_tag 'artist',
                             nil,
                             placeholder: 'Artist',
                             class: 'span3' %>
        </div>

        <%= submit_tag 'Search', class: 'btn' %>

      <% end %>
      <div class="ajax-loader" style="display:none;">
        <%= image_tag 'loading-indicator.gif',
                      id: 'loading-indicator' %>
      </div>
      <br><br>

      <div class="query">Recent query: "<span id="last-query"></span>"</div>
      <br/>

    </div>
    <!--/span-->

    <div class="span9">
      <div id="results"></div>
    </div>
  </div>
  <!--/row-->
</div>
<!--/container-->

<script type="text/javascript">
  $ = jQuery;

  $(document).on("submit", '#import_album_form', function() {
    $('.ajax-loader').fadeIn("fast");
  });

  var dataRemote  = 'a[data-remote=true], .btn[data-remote=true]';

  $(document).on("click", dataRemote, function() {
    $('.ajax-loader').fadeIn("fast");
  });

</script>