<%= minimal_form_for @split,
                     remote: controller.action_name == 'index' ? true : false,
                     html: {id: "split_form"} do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div class="controls controls-row">
    <%= f.input_field :name,
                      class: 'span12',
                      placeholder: 'Split Name' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :duration,
                      class: 'span12',
                      placeholder: 'Split Duration' %>
  </div>

  <div class="controls controls-row">
    <%= text_field_tag 'more_than_min',
                       '',
                       class: 'span5',
                       placeholder: 'More Than (min)' %>
    <%= text_field_tag 'more_than_sec',
                       '',
                       class: 'span5',
                       placeholder: 'More Than (sec)' %>
  </div>

  <div class="controls controls-row">
    <%= text_field_tag 'less_than_min',
                       '',
                       class: 'span5',
                       placeholder: 'Less Than (min)' %>
    <%= text_field_tag 'less_than_sec',
                       '',
                       class: 'span5',
                       placeholder: 'Less Than (sec)' %>
  </div>

  <% if controller.action_name == 'edit' %>
    <%= f.submit "Update #{controller_name.singularize.split('_').join(' ').titleize}",
                 class: 'btn' %>
  <% else %>
    <%= f.submit "Create #{indefinite_articlerize(controller_name.singularize.split('_').join(' ').titleize)}",
                 class: 'btn' %>
  <% end %>
<% end %>
