<table class="table" id="movie_genres">
  <thead>
  <tr>
    <td>ID</td>
    <td>Program Name</td>
    <td>&nbsp;</td>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'movie_genre',
             collection: @movie_genres %>
  </tbody>
</table>
<br/>
<br/>
<%= will_paginate @movie_genres,
                  inner_window: 1,
                  renderer: BootstrapPagination::Rails,
                  class: 'pagination pagination-small' %>
<%
   def items_per_page_select(collection = MovieGenres)
     select_tag :per_page, options_for_select([10, 20, 50, 100, 300], collection.per_page),
                class: 'items_per_page_select_menu'
   end
%>
<%= form_for '/movie_genres', method: :get, html: {class: 'items_per_page_select'} do |f| %>
  <span>Items per page: </span>
  <%= items_per_page_select @movie_genres %>
  <%= f.submit "Submit",
               class: 'btn btn-small' %>
<% end %>
