<%= search_form_for @search,
                    class: 'spinner-trigger' do |albums| %>

  <div class="control-group">
    <div class="controls combinator-select-container">
      <%= albums.combinator_select %>
    </div>

    <%= albums.text_field :title_original_cont,
                          placeholder: 'Title Original' %>

    <%= albums.text_field :artist_original_cont,
                          placeholder: 'Artist Original' %>

    <%= albums.text_field :title_english_cont,
                          placeholder: 'Title (Translated)' %>

    <%= albums.text_field :artist_english_cont,
                          placeholder: 'Artist (Translated)' %>

    <%= albums.text_field :release_year_eq,
                          data: {behaviour: 'datepicker-years'},
                          placeholder: 'Year' %>

    <%= albums.text_field :cd_code_cont,
                          placeholder: 'CD Code' %>

    <div class="controls">
      <%= albums.select :label_id_eq,
                        Label.all
                        .collect { |p| [p.name,
                                        p.id] },
                        {include_blank: true},
                        {class: 'select2',
                         data: {placeholder: 'Label'}} %>
    </div>

    <div class="controls">
      <%= albums.select :genres_id_eq,
                        Genre.all
                        .collect { |p| [p.name,
                                        p.id] },
                        {include_blank: true},
                        {class: 'select2',
                         data: {placeholder: 'Genre'}} %>
    </div>

  </div>

  <%= albums.submit "Search",
                    {class: 'btn'} %>

<% end %>
