<tr id="item_<%= track_view.id %>">
  <td data-title="#"><%= track_view.track_num %>&nbsp;
  </td>
  <td data-title="Title">
    <%= track_view.title_original %>&nbsp;
  </td>
  <td data-title="Artist"><%= track_view.artist_original %>&nbsp;</td>
  <td data-title="Duration (mm:ss)"><%= duration(track_view.duration) %>&nbsp;</td>
  <td>
    <%= link_to 'Show',
                track_path(id: track_view.id),
                class: 'btn btn-mini' %>&nbsp;
  </td>
  <td>
    <% if track_view.mp3_exists == true %>
      <a href="#" class="btn btn-mini btn-success btn-play" data-src="<%= "#{current_user.current_login_ip == "182.19.135.7" ? Settings.nas_mp3_url : Settings.nas_mp3_url_remote}#{track_view.album.id.to_s}/#{track_view.track_num.to_s}.mp3" %>"><i class='icon icon-play'></i></a>
    <% end %>
  </td>
  <td>
    <% if track_view.mp3_exists == true %>
      <a href="<%= "#{current_user.current_login_ip == "182.19.135.7" ? Settings.nas_mp3_url : Settings.nas_mp3_url_remote}#{track_view.album.id.to_s}/#{track_view.track_num.to_s}.mp3" %>" class="btn btn-mini btn-primary" download><i class='icon icon-download-alt'></i></a>
    <% end %>
  </td>
</tr>
