<%= minimal_form_for @right,
                     remote: controller.action_name == 'index' ? true : false,
                     html: {id: "right_form"} do |f| %>

  <div class="controls controls-row">
    <%= f.input_field :name,
                      class: 'span12',
                      placeholder: 'Name' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :controller,
                      class: 'span12',
                      placeholder: 'Controller' %>
  </div>

  <div class="controls controls-row">
    <%= f.input_field :action,
                      class: 'span12',
                      placeholder: 'Action' %>
  </div>

  <% if controller.action_name == 'edit' %>
    <%= f.submit "Update #{controller_name.singularize.split('_').join(' ').titleize}",
                 class: 'btn' %>
  <% else %>
    <%= f.submit "Create #{indefinite_articlerize(controller_name.singularize.split('_').join(' ').titleize)}",
                 class: 'btn' %>
  <% end %>
<% end %>
