<table class="table" id="roles">
  <thead>
  <tr>
    <th><%= sort_link @search,
                      :id,
                      'ID' %></th>
    <th><%= sort_link @search,
                      :name,
                      'Name' %></th>
    <th colspan="2">&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'role',
             collection: @roles %>
  </tbody>
</table>

<br/>
<br/>
<%= will_paginate @roles,
                  inner_window: 1,
                  renderer: BootstrapPagination::Rails,
                  class: 'pagination pagination-small' %>
<%
   def items_per_page_select(collection = Roles)
     select_tag :per_page, options_for_select([10, 20, 50, 100, 300], collection.per_page),
                class: 'items_per_page_select_menu'
   end
%>
<%= form_for '/roles', method: :get, html: {class: 'items_per_page_select'} do |f| %>
  <span>Items per page: </span>
  <%= items_per_page_select @roles %>
  <%= f.submit "Submit",
               class: 'btn btn-small' %>
<% end %>
