<table class="table" id="airline_rights_countries">
  <thead>
  <tr>
    <th>ID</th>
    <th>Airline Rights Country Name</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'airline_rights_country',
             collection: @airline_rights_countries %>
  </tbody>
</table>

<br/>
<br/>
<%= will_paginate @airline_rights_countries,
                  inner_window: 1,
                  renderer: BootstrapPagination::Rails,
                  class: 'pagination pagination-small' %>
<%
   def items_per_page_select(collection = AirlineRightsCountry)
     select_tag :per_page, options_for_select([10, 20, 50, 100, 300], collection.per_page),
                class: 'items_per_page_select_menu'
   end
%>
<%= form_for '/airline_rights_countries', method: :get, html: {class: 'items_per_page_select'} do |f| %>
  <span>Items per page: </span>
  <%= items_per_page_select @airline_rights_countries %>
  <%= f.submit "Submit",
               class: 'btn btn-small' %>
<% end %>
