<%= render partial: 'header' %>

<div class="container">

  <div class="row">
    <div class="span12">
      <div id="bootstrap-flash">
        <%= bootstrap_flash %>
      </div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->

  <div class="row">

    <% models = %w(masters screeners) %>
    <% if models.include?(controller_name) %>
      <%= render partial: 'edit_form' %>
    <% else %>
      <%= render partial: 'form' %>
    <% end %>

    <% models = %w(movies movie_playlists videos video_playlists masters video_master_playlists screeners
    screener_playlists audio_playlists album_playlists tracks albums) %>
    <% if models.include?(controller_name) %>
      <div class="span3">
        <div class="tabbable">
          <ul class="nav nav-tabs pre-nav-below">
            <li>
              <a>Search Form</a>
            </li>
          </ul>
        </div>
        <%= render partial: 'search_form',
                   object: @search %>
      </div>
      <!--/span-->
    <% end %>
  </div>
  <!--/row-->
  <div class="row">
    <div class="span12">
      <div class="content">
        <%= yield :playlist %>
      </div>
    </div>
  </div>

</div>
<!--/container-->


