<% models = %w(movies movie_playlists videos video_playlists masters video_master_playlists screeners
screener_playlists audio_playlists album_playlists tracks albums suppliers users) %>

<%= render partial: 'header' %>

<% if models.include?(controller_name) %>

  <div class="container-fluid">
    <% models = %w(masters screeners) %>
    <% if !models.include?(controller_name) %>
      <div class="row-fluid">
        <div class="span3">
          &nbsp;
        </div>
        <div class="span9">
          <%= link_to "Create #{indefinite_articlerize(controller_name.singularize.split('_').join(' ').titleize)}",
                      self.send("new_#{controller_name.singularize}_path"),
                      class: 'btn btn-create' %>
        </div>
      </div>
    <% end %>
    <div class="row-fluid">
      <div class="span3">
        <%= render partial: 'search_form',
                   object: @search %>
      </div>
      <!--/span-->
      <div class="span9" id="no-more-tables">
        <div id="bootstrap-flash">
          <%= bootstrap_flash %>
        </div>
        <%= render partial: "#{controller_name}" %>
      </div>
    </div>
    <!--/row-->
  </div> <!-- /container -->

<% else %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <%= render partial: 'form' %>
      </div>
      <!--/span-->
      <div class="span9" id="no-more-tables">
        <div id="bootstrap-flash">
          <%= bootstrap_flash %>
        </div>
        <%= render partial: "#{controller_name}" %>
      </div>
    </div>
  </div>

<% end %>