<%= render partial: 'header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      &nbsp;
    </div>
    <div class="span9">
      <%= link_to "Create a #{controller_name.singularize.split('_').join(' ')}",
                  self.send("new_#{controller_name.singularize}_path"),
                  class: 'btn btn-create' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <%= render partial: 'search_form',
                 object: @search %>
    </div>
    <!--/span-->
    <div class="span9" id="no-more-tables">
      <div id="bootstrap-flash">
        <%= bootstrap_flash %>
      </div>
      <%= render partial: "#{controller_name}" %>
    </div>
  </div>
  <!--/row-->
</div> <!-- /container -->