<% @span_size = controller.action_name == 'index' ? 'span12' : 'span3' %>

<%= search_form_for @search,
                    builder: MinimalNestedFormBuilder,
                    class: 'spinner-trigger' do |suppliers| %>
  <div class="control-group" style="<%= controller.action_name == 'index' ? 'margin-top: 0px;' : 'margin-top: 20px;' %>">

    <!--<div class="controls combinator-select-container">-->
    <%#= suppliers.combinator_select %>
    <!--</div>-->

    <div class="controls controls-row">
      <%= suppliers.input_field :company_name_cont,
                                class: "#{@span_size}",
                                placeholder: 'Company Name' %>
    </div>

    <div class="controls controls-row">
      <%= suppliers.input_field :supplier_categories_id_eq,
                                as: :select,
                                collection: SupplierCategory.all
                                                            .collect { |p| [p.name,
                                                                            p.id] },
                                include_blank: true,
                                class: "select2 #{@span_size}",
                                data: {placeholder: 'Category'} %>
    </div>

  </div>

  <%= suppliers.submit "Search",
                       {class: 'btn'} %>
  <input class="form-reset btn" type="reset" value="Reset">

<% end %>
