<table class="table" id="supplier_categories">
  <thead>
  <tr>
    <th>
      <%= sort_link(@search,
                    :id,
                    "ID") %>
    </th>
    <th>
      <%= sort_link(@search,
                    :company_name,
                    "Company Name") %>
    </th>
    <th>Categories</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'supplier',
             collection: @suppliers %>
  </tbody>
</table>

<br/>
<br/>
<%= will_paginate @suppliers,
                  inner_window: 1,
                  renderer: BootstrapPagination::Rails,
                  class: 'pagination pagination-small' %>
<%
   def items_per_page_select(collection = Suppliers)
     select_tag :per_page, options_for_select([10, 20, 50, 100, 300], collection.per_page),
                class: 'items_per_page_select_menu'
   end
%>
<%= form_for '/suppliers', method: :get, html: {class: 'items_per_page_select'} do |f| %>
  <span>Items per page: </span>
  <%= items_per_page_select @suppliers %>
  <%= f.submit "Submit",
               class: 'btn btn-small' %>
<% end %>
